# Shark Attacks

## 1. Import modules

In [1]:
import numpy as np
import pandas as pd
import re

import warnings

warnings.filterwarnings('ignore')


# Some Resources:
# https://github.com/AnaAGG/workshop_regex/blob/main/3-%20Regex%20in%20pandas.ipynb
# https://stackoverflow.com/questions/39475978/apply-function-to-each-cell-in-dataframe
# https://towardsdatascience.com/data-cleaning-using-python-pandas-f6fadc433535
# https://towardsdatascience.com/10-tricks-for-converting-numbers-and-strings-to-datetime-in-pandas-82a4645fc23d

In [2]:
# !kaggle datasets download -d teajay/global-shark-attacks

In [3]:
# !ls

In [4]:
# #descomprimimos el .zip 
# !tar -xzvf global-shark-attacks.zip

In [5]:
# !ls

In [6]:
# #borramos el zip ya que lo hemos descomprimido y ya tenemos el csv
# !rm -rf global-shark-attacks.zip

## 2. Import CSV

In [7]:
# Read and convert the csv source data into a pandas dataframe.

pd.set_option('display.max_columns', None)
sharks_attacks = pd.read_csv("attacks.csv",encoding = "ISO-8859-1")

## 3. Exploring Data

### 3.1 First overlook

In [8]:
# Shows first 5(default) rows of the dataset.

sharks_attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [9]:
# Generate various summary statistics, excluding NaN values.

sharks_attacks.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,6300.0,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
original order,6309.0,3155.999683,1821.396206,2.0,1579.0,3156.0,4733.0,6310.0

This output doesn't say much (totally useless, pandas is recognizing years and original order as continuous variables). It seems the mayority of the variables in this dataset are discrete/categorical type. We might be able to use "count" methods for these ones after applying some data cleaning and data consolidation.
We will get clearer information later on.

In [10]:
# Prints a concise summary of a DataFrame.

sharks_attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [11]:
# Gets number of registers and variables of this dataset

sharks_attacks.shape

(25723, 24)

In [12]:
# Calculates the percentage of null registers for each variable

percent_missing = round(sharks_attacks.isnull().sum() * 100 / len(sharks_attacks), 2)
percent_missing

Case Number                66.17
Date                       75.50
Year                       75.51
Type                       75.52
Country                    75.69
Area                       77.27
Location                   77.60
Activity                   77.62
Name                       76.32
Sex                        77.70
Age                        86.51
Injury                     75.61
Fatal (Y/N)                77.60
Time                       88.54
Species                    86.53
Investigator or Source     75.57
pdf                        75.50
href formula               75.50
href                       75.50
Case Number.1              75.50
Case Number.2              75.50
original order             75.47
Unnamed: 22               100.00
Unnamed: 23                99.99
dtype: float64

It looks like the mayority of values for each variables available is missing

In [13]:
# Gets column names

column_names = list(sharks_attacks.columns.values)
column_names

['Case Number',
 'Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex ',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species ',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'Case Number.1',
 'Case Number.2',
 'original order',
 'Unnamed: 22',
 'Unnamed: 23']

It seems these column names don't follow a proper name convention and some of them have spaces before and after

In [14]:
# Registers consistency of each variable

for cols in column_names:
    uniques = sharks_attacks[cols].unique()
    print(cols)
    print(uniques)
    
    print('\n' * 3)

Case Number
['2018.06.25' '2018.06.18' '2018.06.09' ... 'ND.0001' '0' 'xx']




Date
['25-Jun-2018' '18-Jun-2018' '09-Jun-2018' ... '1883-1889' '1845-1853' nan]




Year
[2018. 2017.   nan 2016. 2015. 2014. 2013. 2012. 2011. 2010. 2009. 2008.
 2007. 2006. 2005. 2004. 2003. 2002. 2001. 2000. 1999. 1998. 1997. 1996.
 1995. 1984. 1994. 1993. 1992. 1991. 1990. 1989. 1969. 1988. 1987. 1986.
 1985. 1983. 1982. 1981. 1980. 1979. 1978. 1977. 1976. 1975. 1974. 1973.
 1972. 1971. 1970. 1968. 1967. 1966. 1965. 1964. 1963. 1962. 1961. 1960.
 1959. 1958. 1957. 1956. 1955. 1954. 1953. 1952. 1951. 1950. 1949. 1948.
 1848. 1947. 1946. 1945. 1944. 1943. 1942. 1941. 1940. 1939. 1938. 1937.
 1936. 1935. 1934. 1933. 1932. 1931. 1930. 1929. 1928. 1927. 1926. 1925.
 1924. 1923. 1922. 1921. 1920. 1919. 1918. 1917. 1916. 1915. 1914. 1913.
 1912. 1911. 1910. 1909. 1908. 1907. 1906. 1905. 1904. 1903. 1902. 1901.
 1900. 1899. 1898. 1897. 1896. 1895. 1894. 1893. 1892. 1891. 1890. 1889.
 1888. 1887. 1886. 1885. 1884. 1883. 1882. 1881. 1880. 1879. 1878. 1877.
 1876. 1875. 1874. 1873. 1872. 1871. 1870. 1869. 1868. 1867. 1866. 1865.
 1864. 1863. 1862. 1861. 1860. 1859. 1858. 1857. 1856. 1855. 1853. 1852.
 1851. 1850. 1849. 1847. 1846. 1845. 1844. 1842. 1841. 1840. 1839. 1837.
 1836. 1835. 1834. 1832. 1831. 1830. 1829. 1828. 1827. 1826. 1825. 1823.
 1822. 1819. 1818. 1817. 1816. 1815. 1812. 1811. 1810. 1808. 1807. 1805.
 1804. 1803. 1802. 1801. 1800. 1797. 1792. 1791. 1788. 1787. 1786. 1785.
 1784. 1783. 1780. 1779. 1776. 1771. 1767. 1764. 1758. 1753. 1751. 1749.
 1755. 1748. 1742. 1738. 1733. 1723. 1721. 1703. 1700. 1642. 1638. 1637.
 1617. 1595. 1580. 1555. 1554. 1543.  500.   77.    5.    0.]




Type
['Boating' 'Unprovoked' 'Invalid' 'Provoked' 'Questionable' 'Sea Disaster'
 nan 'Boat' 'Boatomg']




Country
['USA' 'AUSTRALIA' 'MEXICO' 'BRAZIL' 'ENGLAND' 'SOUTH AFRICA' 'THAILAND'
 'COSTA RICA' 'MALDIVES' 'BAHAMAS' 'NEW CALEDONIA' 'ECUADOR' 'MALAYSIA'
 'LIBYA' nan 'CUBA' 'MAURITIUS' 'NEW ZEALAND' 'SPAIN' 'SAMOA'
 'SOLOMON ISLANDS' 'JAPAN' 'EGYPT' 'ST HELENA, British overseas territory'
 'COMOROS' 'REUNION' 'FRENCH POLYNESIA' 'UNITED KINGDOM'
 'UNITED ARAB EMIRATES' 'PHILIPPINES' 'INDONESIA' 'CHINA' 'COLUMBIA'
 'CAPE VERDE' 'Fiji' 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA'
 'MOZAMBIQUE' 'FIJI' 'PUERTO RICO' 'ITALY' 'ATLANTIC OCEAN' 'GREECE'
 'ST. MARTIN' 'FRANCE' 'PAPUA NEW GUINEA' 'TRINIDAD & TOBAGO' 'KIRIBATI'
 'ISRAEL' 'DIEGO GARCIA' 'TAIWAN' 'JAMAICA' 'PALESTINIAN TERRITORIES'
 'GUAM' 'SEYCHELLES' 'BELIZE' 'NIGERIA' 'TONGA' 'SCOTLAND' 'CANADA'
 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA' 'KENYA' 'RUSSIA'
 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES' 'SOUTH KOREA'
 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'INDIA' 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA'
 'MARSHALL ISLANDS' 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG'
 'EL SALVADOR' 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'PORTUGAL' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'ARGENTINA'
 'MARTINIQUE' 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'MID-PACIFC OCEAN' 'SLOVENIA'
 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS' 'MONACO' 'GUYANA'
 'HAITI' 'SAN DOMINGO' 'IRELAND' 'KUWAIT' 'YEMEN ' 'REUNION ISLAND'
 'FALKLAND ISLANDS' 'CRETE' 'CYPRUS' 'EGYPT ' 'WEST INDIES' 'BURMA'
 'LEBANON' 'PARAGUAY' 'BRITISH NEW GUINEA' 'CEYLON' 'OCEAN' 'GEORGIA'
 'SYRIA' 'TUVALU' 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS'
 'EQUATORIAL GUINEA / CAMEROON' 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA'
 'ALGERIA' 'Coast of AFRICA' 'TASMAN SEA' 'GHANA' 'GREENLAND'
 'MEDITERRANEAN SEA' 'SWEDEN' 'ROATAN' 'Between PORTUGAL & INDIA'
 'DJIBOUTI' 'BAHREIN' 'KOREA' 'RED SEA?' 'ASIA?' 'CEYLON (SRI LANKA)']




Area
['California' 'Georgia' 'Hawaii' 'New South Wales' 'Colima' 'Pernambuco'
 'Florida' 'Queensland' 'South Carolina' 'Cornwall' 'Westerm Australia'
 'Eastern Cape Province' 'Hua Hin' 'Cocos Island' 'Western Australia'
 'Alifu Alifu Atoll' 'Western Cape Province' 'New Providence' 'Alagoas'
 nan 'Victoria' 'KwaZulu-Natal' 'Boi Island, Victoria' 'Galapagos Islands'
 'Fernando de Noronha' 'Sepang' 'Holquin Province' 'Pamplemousses '
 'South Australia' 'North Island' 'New York' 'Canary Islands'
 ' Upolu Island' 'Shizuoka Prefecture' 'Texas' 'CastellÃ³n' 'Massachusetts'
 'Red Sea Protectorate' 'New Providence District'
 '40 miles off Grand Bahama Island' 'Ascension Island' 'New Jersey'
 'Majorca' 'Washington' 'Tabasco' 'Anjouan' 'Ibiza Island' 'Marquesas'
 'South Devon' 'New Providence ' 'Sharjah, ' 'Baja California Sur'
 'Saint-Leu' 'South Island' 'Luzon Island' 'Great Exuma' 'Saint-Andre'
 'Bimini' 'Bali' 'Tuamotos' 'Oregon' 'North Province'
 'New Providence Island' 'Alicante Province' 'Hong Kong'
 'Kochi Prefecture' 'Tasmania' 'Abaco Islands' 'Alabama' 'North Carolina'
 'Isla Provedencia' 'Suez' 'Grand Terre' 'Boa Vista Island' 'Vanua Levu'
 'Santa Catarina State' 'South Province' 'Altagracia Province'
 'Grand Cayman' 'BalneÃ¡rio CamboriÃº' 'Fujairah Emirate'
 'Grand Canary Island' 'Inhambane Province' 'Phuket' 'Alicante'
 'Guanacaste' 'Bora Bora' 'Grand Bahama Island' 'Le Port' 'Rangiroa'
 'Saint-Gilles-les-Bains' 'Sardinia' 'Sinaloa' 'Central Tuamotu'
 'd\x92Ãtang-SalÃ©' 'Granada' 'Cargados Carajos Shoals (St. Brandon)'
 'Moorea' 'Catalonia' 'Maryland' 'Louisiana' 'West End' 'Delaware'
 'Atsumi peninsula' 'Palmyra Atoll' 'Wallis and Futuna'
 'Baie de Sainte-Marie' 'Society Islands' 'Trinidad' 'Okinawa Prefecture'
 '740 miles SE of Tarawa Atoll' 'Southern District' 'Bay of Biscay'
 'Quintana Roo' 'Exuma Islands' 'Saint-Paul' 'Taitung ' 'Kingston Parish'
 'Santa Cruz Island' 'Saint-Gilles' 'Tuamotus' 'Eleuthera' 'St. Catherine'
 'Palawan' 'Mercury Islands' 'Delta' "Vava'u" 'Inner Hebrides' 'Saint Leu'
 'Trois-Bassins' 'British Colombia' 'Guerrero' 'Saint-Benoit'
 'Tabuk Province' 'Antofagasta Province' "St John's" 'Santa Elena'
 'East New Britain' 'Bois-Blanc ' 'Moray' 'Puerto Rico' 'SamanÃ¡ Province'
 'Coast Province' 'Central Province' 'Primorsky Krai'
 'Peter the Great Bay, Khasan, Primorsky Krai (Far East)'
 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)' 'Praslin' 'Sucre'
 'Middle Caicos' 'Caicos Bank' 'San AndrÃ©s archipelago' 'Kedah'
 'Umm al Qaywayan Province' 'Vitu Levu' 'South Sinai Peninsula'
 ' Loyalty Islands' 'Saint Gilles ' 'Maine' 'Virginia' "Ha'api "
 'Western Province' 'Jeju Province' 'Binh Dinh Province'
 'Antsiranana Province' 'Sinai Peninsula' 'Off Vanua Levu' 'Merizo'
 'Rio Grande Do Sul' 'Dubai' 'Torres Strait' 'Eastern Province'
 'Eastern Cape  Province' 'Maputo Province' 'Bocas' 'Fife' 'Devon'
 'Makira-Ulawa Province' 'Mombasa' 'Catalunya' 'St. Johns Reef'
 'Off Green Island' 'North Region' 'Batangas province' 'Strait of Malacca'
 'Guantanamo Province' 'MaranhÃ£o' 'Red Sea' 'Batanes Provine' 'Luzon'
 'Northern Territory' ' Split-Dalmatia Count,' 'North Devon'
 'US Virgin Islands' 'San Carlos' 'Cabo San Lucas' 'Sussex' 'Bahia'
 'Easter Ross' 'Guerro' 'Yasawa Islands' 'Northern Bahamas' 'Tokyo Bay'
 'Baja California' 'Green Bay' 'Loyalty Islands' 'Marovo Lagoon'
 'Territory of Cocos (Keeling) Islands' 'Oslo Fjord' 'Kent' 'Bird Island'
 'Providenciales' 'Bimini Islands' 'Muhafazat Hadramawt' 'Cook islans'
 'Surigao del Norte' 'Between Somalia & Yemen' 'Ambergris Caye'
 'Saint-Pierre' 'Kentucky' 'Andros Islands' 'Guam' 'Western Area'
 '300 miles from Antigua' '800 miles from land'
 '600 nm west of the Canary Islands' 'Simpson Bay' 'East Wall'
 'Inner Islands' 'Shanghai' 'Malampa Province'
 "South Ch'ungch'ong Province" 'Bay Islands' 'New Mexico'
 'Santa Isabel Province' 'Santiago de Cuba Province' 'Camaguey Province'
 'ConservatÃ³ria District' 'South Carolina ' 'Kuril Islands in the Pacific'
 'Wakayama Prefecture' "Nuku'alofa" 'Saint-BenoÃ®t'
 'South Island, near Karitane north of Dunedin' 'Rocha' 'Northlands'
 'Anzoategui' 'Cook Islands' 'Tamil Nadu' 'Pearl Islands' 'Taveuni'
 'Johnston Atoll' 'Baatan' 'Rio de Janeiro' 'Nueva Esparta' 'Southland'
 'North Pacific coast' 'Caroline Islands' 'Cheshire'
 'Louisiade Archipelago'
 'KwaZulu-Natal between Port Edward and Port St Johns'
 'Milne Bay Province' 'Cikobia Island (north of Vanua Levu)'
 'Rayong Province' 'Zamboanga del Sur Province' 'Rio Grande de Norte'
 'Off the western coast of peninsular Malaysia' 'New Brunswick'
 'Miyako Island' 'Alaska' 'Minerva Reef' 'Madang Province'
 'Worcestershire' 'Phang nga Province' 'Alinglaplap Atoll' 'Adriatic Sea'
 'Ralik Chain' 'Grand Baie' "L' Etang SalÃ©-les-Bains" 'Southern Japan'
 'Cap Vert Peninsula' 'Marches region' 'Berry Islands' 'Transvaal' 'Gaza'
 "Grand'Anse" 'Beaufonds' 'Miyako' "L'Etang-Sale" 'Chatham Islands '
 'South Sinai, Gulf of Aqaba' 'Cat Cay' 'Missouri'
 '12 miles off the north coast' 'Saint-Paul '
 'Chatham Islands, east of New  Zealand' 'Saint-Denis' 'Vava\x92u'
 'Mississippi' 'Clearwater Bay' 'New Territories' 'Aichi Prefecture'
 'Tafea Province' 'Kagoshima Prefecture' 'Saint-Joseph' 'Banaadir Region'
 'La Libertad' 'Costa Blanca' 'Walkers Cay'
 'On the Kowloon penisula, south of Sai Kung' 'Ehime Prefecture'
 'Tongapatu Group' 'West Africa' 'Wakaya Island' 'North Carolina '
 'Mexico / Caribbean Sea' 'Antarctic Ocean' 'La Saline-les-Bains'
 'Sea of Japan' 'Tavenui' 'Ligurian Sea' "L'Etang-SalÃ©"
 'Kowloon Peninsula' 'Port Shelter' 'Laucala Island' 'Sainte-Marie'
 'Great Exuma Island' 'Sainte-Suzanne' 'Tuscany' 'Tyrrhenian Sea'
 'New Ireland' 'Valpariso Province' 'Viscayan Sea' 'Manfredonia '
 'Tokyo Prefecture' 'Saint-Louis' 'Mindoro' 'Between DR and Puerto Rico'
 'Between Honiara & Isabel Island' 'Florida Straits' 'Gulf of Lyons'
 'CÃ¡diz' 'Sicily' 'Andikira Fokithes' 'Central Philippines' 'Rhode Island'
 'Northwest Italy' 'English Channel' 'North & South Carolina'
 'Kumamoto Prefecture' 'Biserta' 'Saint-Philippe' 'Chungnam'
 'Eronogo Region' 'Coquimbo' 'Pagasitikos Gulf' "St. Mary's Parish"
 'Romblon Province' 'Lamu Archipelago' 'Los Vilos' 'Island of Kos'
 "Ha'api" 'Madeira Islands' 'Ho Ha Wan Marine Park' 'Southern Thailand'
 'Golfo de Venezia' 'Ralik Archipelago'
 'South China Sea 200 miles from Hong Kong' 'Reggio Calabria Province'
 'Mirs Bay ' 'Genoa Province' 'Ganges-Brahmaputra delta'
 ' Split-Dalmatia County' 'Florida ' 'Primorje-Gorski Kotar County '
 'Aulong Island' 'Western Caroline Islands' 'Upolu Island' 'Antibes'
 'Illeginni Atoll' 'Istria County' 'Between Beira & Maputo'
 'Khuzestan Province' 'Inhambe Province' 'Namonuito Atoll'
 'Eastern Caroline Islands'
 'Western Caroline Islands (North Pacific Ocean)' 'Caribbean Sea'
 'St. Andrew Parish' '200 nm southeast of Manila' 'Limpopo River'
 'New Ireland Province' 'Zadar County' 'Basrah' 'Clarendon' 'Moro Gulf'
 'Johor' 'Magdalena Department' 'Mafia Island' 'Gulf Province'
 'Morobe Province' 'LimÃ³n Province' 'Rombion Province' 'Veracruz'
 'Brindisi Province' 'Kagawa Prefecture' 'Liguria' 'Hamilton'
 'Out Islands' 'Mugla Province' 'Gibraltar' 'New Britain' 'Bay of Maputo'
 'Duke of York Islands' 'Taranto province' 'Northern Taiwan'
 'Admiralty Islands, Manus Province' 'North Sumatra'
 "250 miles southwest of O'ahu, Hawaii" 'West coast' 'East Sepik'
 'Near Bougainville (North Solomons)' 'East of the Gulf of Aqaba'
 'Bougainville (North Solomons)' 'Victoria ' 'Okayama Prefecture'
 'San Blas' 'Connecticut' 'Lau Group' 'Caribbean Coast' 'Vita Levu'
 'San Blas Islands' 'Puntarenas Province' 'Lomaloma, Lau'
 'Between Southampton & Canary Islands' 'South Coast, East New Britain'
 ' Lau Province' 'Ysabel Island' 'Santo Domingo' 'San Blas coast'
 'Thessaly' 'Lomaiviti  Island Group' 'Rodrigues' 'Manus Island'
 'Pinas Bay' 'Grand Turk Island' 'Off coast of West Africa' 'Sharon'
 'Antalya Province' 'Northern District'
 'New Ireland Province, Bismarck Archipelago' 'Cyclades' 'Viti Levu'
 'Off the Coromandel Peninsula, North Island' 'Madang'
 'Guadalcanal Province' '10ÂºS, 142ÂºE' 'Kwajalein Atoll' 'East Flores'
 'Guerrrero' 'Western Luzon Island' 'Shefa Province'
 '165  miles from Bermuda'
 '25 km off the coast of Iran & 483km from mouth of Persian Gulf'
 'Venice Province' 'Sandaun Province' 'Anatolia'
 'East New Britain Province' 'United Arab Emirates'
 'Wake Island (EnenKio)' '19S, 178?E' 'Pennsylvania' '9.35N 79.35W'
 'Roncador Bank' 'Western District' 'Enroute from Suez to Aden (Yemen)'
 '180 miles southeast of Okinawa' 'Eniwetok Atoll' 'Cap-Vert Peninsula'
 'Delagoa Bay' 'In the English Channel ' 'Cook Strait'
 'Unknown, treated at Wick, SCOTLAND' 'Corregidor Island' 'Paget'
 '33N, 68W' 'Casamance' 'Madang (WO)' 'Between Timor & Darwin, Australia'
 'Pacific coast' 'St. Georges ' 'Eastern  Province'
 'Northwest of Viti Levu' 'West New Britain Province' 'Rigo subdistrict'
 'Masbate' '400 miles southeast of Sri Lanka' 'Lomaiviti Province'
 'Kadavu' 'Leyte Island' 'Orissa' 'Hokkaido Prefecture' 'North Palawan'
 'Queaon' 'Istria' 'PANAMA' 'In the Gulf Stream ' 'Mersin Province'
 'Guyamas' 'Between England & South Africa' 'Mindanao'
 ' Kikori River mouth' 'South Chungcheong Province' 'Ahirkapi coast'
 'Tutuila Island' 'Primorje-Gorski Kotar County'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Ibaraki Prefecture'
 'South Pacific Ocean' 'Canal Zone' '1,000 miles east of Hawaii' 'Honiara'
 'Yucatan Channel' 'Havana Province' 'Karun River'
 'Abau Subdistrict,Central Province' 'New Britain, Bismarck Archipelago'
 'Estuaire Province' 'Near Dakar, Cap Vert Peninsula'
 'Near the Andaman & Nicobar Islands' 'Mozambique Channel' 'Tyrrenian Sea'
 'Congreve Channel' 'St. Thomas Bay' 'Madeira'
 'Between Comores & Madagascar' 'Corfu Island' '1000 miles west of Hawaii'
 'Izo Islands' ' Primorje-Gorski Kotar County' 'Open sea' 'Aden'
 'New Ireland, Bismarck Archipelago' '18S / 50E' 'Illinois'
 'Isles del Rosario' 'Wake Island' 'Isle of Man' 'Nagasaki Prefecture'
 'Liguaria' 'Slovenia' 'South shore ' 'Buenos Aires Province'
 '330 to 350 miles east of Wake Island' 'Nova Scotia' 'Gulf of Panama'
 'Genoa  Province' 'Abau Sub District, Central Province' 'Teramo'
 'Red Sea State' 'Curacao' 'Port Louis Province' 'Montserrado'
 'Bay of Maputu' 'Sofala Province' 'Salerno' 'Salerno Province' 'Taranto'
 'Naples Province' ' La Libertad' 'Sago Prefecture' 'Savona'
 'Southern Province' 'Jakarta Harbour' 'Singapore Harbor' 'Calabria'
 'Shatt-el-Arab River' 'Shatt-al-Arab River' 'Tamaulipas'
 'Calvados Archipelago' 'Shat-Al-Arab River'
 'Between Kwajalein Atoll & Johnston Island' 'Attica' 'Adana Province'
 'Bandar Ma\x92shur sea inlet' 'Saipan' 'Carpathian Sea' 'Kwajalein'
 'Dar-es-Salaam ' '"Head of the Gulf"' 'Ryukyu' ' North Carolina'
 'In transit between Tinian and Leyte' 'Northern Java' 'Tel Aviv'
 'Colon Province' '300 miles east of Luzon'
 'Bernardino Strait near Gulf of Leyte'
 'Off Samar Island in the Gulf of Leyte' 'Lake Nicaragua (fresh water)'
 'Pacific Ocean' 'Near the Fiji Islands' '40 miles south of Naples '
 'Northwest of Papua New Guinea' 'Between Hawaii and U.S.A.'
 'Off South American coast' 'Makora-Ulawa Province' '04.05N-13.23W'
 'Midway Atoll' '300 miles east of St. Thomas (Virgin Islands)'
 'West of Ceylon (Sri  Lanka)' 'East Java' 'Camiguin Island'
 'Cay Sal Bank' '(Southwestern Pacific)' 'Panama City' 'Off Libya'
 'North of Pernambuco, Brazil' 'Off coast of Ecuador' 'Trelawney Province'
 'In Convoy OB 274' 'New Georgia' 'Panama Bay (Pacific Ocean)' 'Bwagaoia'
 'Western Papuan Gulf' 'Torres Strait ' 'Carabobo' 'Ascension Bay'
 'North China' 'Lower San Juan River' 'Nicoya Peninsula' 'Basrah City'
 'West Bengal' 'Queensland ' 'Argyllshire' 'Arran' 'Argyll'
 'Fishing Grounds' 'Newfoundland' 'Isle of Wight' 'Makira-Uluwa Province'
 'Northern (Oro) Province' 'Herzliyah' 'Elqui Province' 'Istanbul'
 'St Michael Parish' 'Barlavento Islands' 'Viti Levu Island'
 'Bay of Fundy' 'Manila' 'French Southern Territories' 'Niua '
 'Black River' 'Phoenix Islands' 'Cienfuegos Province' 'Valencia'
 'Santiago Island' 'Near Puntarenas' 'Porto Seguro' 'Salinas Bay'
 'Golfo di Genova in the Ligurian Sea' 'Sants-Montjic'
 'South of the Equator ' 'Bay of Monaco' 'Valencia ' 'Vancouver'
 '2 to 3 miles off Taboguilla Island, Pacific Ocean' 'Dorset'
 '150 miles offshore' 'Galica' 'Demerara County' 'Vera Cruz' ' Manila Bay'
 'Lucy' 'East Yorkshire' 'Westmoreland Parish' 'Cavite Province, Luzon'
 'Cape Haitien' 'Leyte' 'Halifax' 'Turtle Bogue'
 '60 miles north of San Domingo in the West Indies' 'Colon' 'Off Ireland'
 'Mediterranean Sea' 'Gran Canaria' 'Apolima Strait' 'Essequibo' 'Lagos '
 'Trieste' '5aint-Denis' 'Viti Levu group' 'Balearics' 'MÃ¡laga '
 'Chatham Islands' 'Georges Bank' 'Zambesi River' 'ColÃ³n Province'
 '30 nm from Singapore' 'Andalucia' 'Sfax' 'South Atlantic Ocean'
 'Galicia' 'Gulf of Suez' 'Java' 'Tiburon Peninsula' 'Oaxaca'
 'Harare Province' 'KhÃ¡nh HÃ²a Province' 'Maluku Province' 'Suez Canal'
 ' Nusa Tenggara' 'Between Noumea & Sydney' 'Villa Clara Province'
 'Ancona Province' 'Quezon' 'Rio San Juan' 'Southern Cyprus' 'Syracuse'
 'Western Viscayas' 'Mindoro Occidental' 'Negros ' 'Imperia Province'
 'Muala' 'East coast' 'Ratak ' 'Socotra Islands' 'Off Cape Haitien'
 'Moluccas' 'Bocas del Toro' 'Provence' 'Bay of Campeche' 'Rangoon'
 'Bay of Bengal' 'Bayelsa State' 'South Island?' 'Norfolk Island'
 'Brittany' 'Line Islands' 'Woodlark Islands' 'Munxar Reef'
 'Northern Peloponnese' 'Between Perth & Colombo' 'Gujarat' 'Lukovo'
 'CortÃ©s' 'Gulf of California'
 'Somewhere between Philadelphia and Hiogo, Japan' ' New Jersey'
 "CÃ´te d'Azur  " 'Maldonado coast' 'Western Banks' 'Andaman Islands'
 'Off the coast of West Africa' 'Misamis Oriental' 'Strait of Messina'
 'Hoogly River' 'Cyclades archipelago' 'Mount Lebanon'
 'Between Hastings & Fairlight, Sussex' 'Veracruz ' 'Gilbert Islands'
 'Lomaiviti Provine' 'Off the coast of South America' '22ÂºN, 88ÂºE'
 'Matanzas Province (north coast)' 'Alpes Maritime' 'Edinburgh'
 'Eastern Catalona' '300 miles east of Mauritius' 'Foveaux Strait'
 'Sumatra' 'Conakry Region' 'Corfu' 'Malaga' 'Bonin Islands'
 'Fernando Po Island' 'Mangaia Island' 'New York ' 'Corfu '
 'Between Australia & USA' 'Tongatapu' 'Norfolk' 'Island of St. Thomas'
 'Cumberland' 'Sanma Province' "35Âº39 : 165Âº8'" 'CUBA' 'Western Area '
 'Paraiba' 'Cape Coast' 'Rivers State' 'Maharashtra' 'St. Anne'
 'St Helena' "CÃ´te d'Azur " 'Skagerrak arm of the North Sea'
 'Las Perlas archipelago' 'Bardestrand' 'Southwest coast' 'Kerala'
 'Nice & Marseilles' 'Magarita or Cubagua Islands' 'Ionian Sea' 'Piraeus'
 'Off Thessaly' 'Bocas del Toro Province' 'Rocha ' 'Gulf of Tadjoura'
 'Cyrenaica' 'Northern Province' 'Los Roques  Islands'
 'Dodecanese Islands' 'Malaita Province' 'South Korea'
 'Milne Bay  Province' 'Island of Volos' 'Amirante Islands'
 'Kadavu Island Group' 'Toamasina Province' 'Riau Province' 'Bikini Atoll'
 'Between New Ireland & New Britain' 'Ba Ria-Vung Tau  Province'
 'Moala Island']




Location
['Oceanside, San Diego County' 'St. Simon Island, Glynn County'
 'Habush, Oahu' ... 'Ocracoke Inlet' 'Panama Bay 8ÂºN, 79ÂºW'
 'Below the English fort, Trincomalee']




Activity
['Paddling' 'Standing' 'Surfing' ...

In [15]:
# Gets unique values per column

sharks_attacks_unique = pd.DataFrame(sharks_attacks.nunique(), columns = ['count'])
sharks_attacks_unique

                        count
Case Number              6287
Date                     5433
Year                      249
Type                        8
Country                   212
Area                      825
Location                 4108
Activity                 1532
Name                     5230
Sex                         6
Age                       157
Injury                   3737
Fatal (Y/N)                 8
Time                      366
Species                  1549
Investigator or Source   4969
pdf                      6291
href formula             6290
href                     6285
Case Number.1            6285
Case Number.2            6286
original order           6308
Unnamed: 22                 1
Unnamed: 23                 2

## 4. Cleaning the dataset

### 4.1 Columns name convention

In [16]:
# This function (nameconvention) changes the default columns names into a proper name convention style (snake_case)

import sharks_attacks_functions as saf

In [17]:
# Renaming columns...

# 1 - Replaces each column_names list items using nameconvention function
column_names = saf.nameconvention(column_names)

# 2 - Renames our dataset columns with our new column names
sharks_attacks = sharks_attacks.rename(columns=column_names)

sharks_attacks.head(0)

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, investigator_or_source, pdf, href_formula, href, case_number.1, case_number.2, original_order, unnamed:_22, unnamed:_23]
Index: []

### 4.2 Remove extra spaces (entire dataset)

In [18]:
# Removes extra spaces before and after each value of each column so it's easier to aggregate unique discrete values

sharks_attacks2 = sharks_attacks.applymap(lambda x: str(x).strip() if isinstance(x, str) else x)
sharks_attacks2.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [19]:
# We compare if we have reduce unique discrete values 

sharks_attacks_unique = pd.DataFrame(sharks_attacks.nunique(), columns = ['count'])
sharks_attacks_unique2 = pd.DataFrame(sharks_attacks2.nunique(), columns = ['count'])

sharks_attacks_unique2.compare(sharks_attacks_unique)

                         count
                          self   other
date                    5426.0  5433.0
country                  204.0   212.0
area                     801.0   825.0
location                4065.0  4108.0
activity                1504.0  1532.0
name                    5224.0  5230.0
sex                        5.0     6.0
age                      149.0   157.0
injury                  3671.0  3737.0
fatal_(y/n)                6.0     8.0
time                     359.0   366.0
species                 1467.0  1549.0
investigator_or_source  4927.0  4969.0

### 4.3 Find duplicate columns

#### We will try two find if it exists two or more exact columns with the same values

In [20]:
saf.get_dup_columns(sharks_attacks2)

[]

There is no complitely duplicate columns.

#### Let's check if with a function we can found possible very similar columns.
#### Create a function to detect percentage of similitud among 2 columns

#### Make a table comparing column to column

In [21]:
compared_cols = pd.DataFrame()
compared_cols['index'] = sharks_attacks2.columns
compared_cols = compared_cols.set_index('index')
for col1 in sharks_attacks2.columns:
    column = list()
    for col2 in sharks_attacks2.columns:
        column.append(saf.compare_rows(sharks_attacks2, col1, col2))
    compared_cols[col1] = column

In [22]:
compared_cols

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
index,,,,,,,,,,,,,,,,,,,,,,,,
case_number,100.00,0.10,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,99.62,99.94,0.00,0.0,0.0
date,0.07,100.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.11,0.10,0.00,0.0,0.0
year,0.00,0.00,100.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.02,0.0,0.0
type,0.00,0.00,0.00,100.00,0.0,0.00,0.00,0.24,0.00,0.00,0.0,0.00,0.00,0.00,2.97,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
country,0.00,0.00,0.00,0.00,100.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
area,0.00,0.00,0.00,0.00,0.0,100.00,0.19,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
location,0.00,0.00,0.00,0.00,0.0,0.19,100.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
activity,0.00,0.00,0.00,0.22,0.0,0.00,0.00,100.00,0.00,0.02,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
name,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,100.00,0.02,0.0,0.02,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
sex,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.02,0.02,100.00,0.0,0.00,0.03,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
age,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,100.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
injury,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.02,0.00,0.0,100.00,0.00,0.03,0.09,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
fatal_(y/n),0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.03,0.0,0.00,100.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
time,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.02,0.00,100.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
species,0.00,0.00,0.00,1.64,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.05,0.00,0.00,100.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
investigator_or_source,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,100.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0
pdf,0.01,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,100.00,0.00,0.00,0.02,0.02,0.00,0.0,0.0
href_formula,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,100.00,99.06,0.00,0.00,0.00,0.0,0.0
href,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,99.08,100.00,0.00,0.00,0.00,0.0,0.0
case_number.1,72.14,0.11,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,100.00,99.68,0.00,0.0,0.0
case_number.2,72.37,0.10,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.02,0.00,0.00,99.68,100.00,0.00,0.0,0.0
original_order,0.00,0.00,0.02,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,100.00,0.0,0.0
unnamed:_22,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,100.0,0.0
unnamed:_23,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0,100.0

#### It seems that "case_number" is very similar to "case_number.1" and "case_sumber.2" 
#### href and href formula are very much alike.

### 4.4 Column Date

#### Missing or incomplete values

#### Let's check if there's information within the rest of the columns where "date" has null values and in that case, we'll see if we can get the missing values of "date" from other columns

In [23]:
sharks_attacks2[sharks_attacks2["date"].isnull()].count()

case_number               2401
date                         0
year                         0
type                         0
country                      0
area                         0
location                     0
activity                     0
name                         0
sex                          0
age                          0
injury                       0
fatal_(y/n)                  0
time                         0
species                      0
investigator_or_source       0
pdf                          0
href_formula                 0
href                         0
case_number.1                0
case_number.2                0
original_order               7
unnamed:_22                  0
unnamed:_23                  0
dtype: int64

#### Nothing to scrape here and it seems we won't miss any relevant data if we get rid of rows where "date" has null values

In [24]:
sharks_attacks3 = sharks_attacks2[pd.notnull(sharks_attacks2['date'])]

In [25]:
sharks_attacks3[sharks_attacks3["date"].isnull()]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, investigator_or_source, pdf, href_formula, href, case_number.1, case_number.2, original_order, unnamed:_22, unnamed:_23]
Index: []

In [26]:
sharks_attacks2.shape

(25723, 24)

In [27]:
sharks_attacks3.shape

(6302, 24)

#### Consistency

#### It seems values within column "date" sometimes don't have any consistency. Rather than trying to fix all the unformatted values within this column, let's see if we can get than information from other columns.
#### We saw the columns case_number, case_number.1 and case_number.2 were very much alike and contained the date in its values

#### Before we pick which one of those columns we are going to use to extract the dates. Let's see the differencies between case_number, case_number.1 and case_number.2

In [28]:
sharks_attacks3[['date','year','sex','case_number','case_number.1','case_number.2']].loc[(sharks_attacks3['case_number'] != sharks_attacks3['case_number.1']) | (sharks_attacks3['case_number'] != sharks_attacks3['case_number.2']) | (sharks_attacks3['case_number.1'] != sharks_attacks3['case_number.2'])]

,date,year,sex,case_number,case_number.1,case_number.2
34,03-Apr-2018,2018.0,M,2018.04.03,2018.04.02,2018.04.03
117,20-Jul-2017,2017.0,M,2017.07.20.a,2017/07.20.a,2017.07.20.a
144,05-May-2017,2017.0,M,2017.05.06,2017.06.06,2017.05.06
217,16-Sep-2016,2016.0,M,2016.09.15,2016.09.16,2016.09.15
314,24-Jan-2016,2016.0,M,2016.01.24.b,2015.01.24.b,2016.01.24.b
334,07-Nov-2015,2015.0,F,2015.12.23,2015.11.07,2015.12.23
339,28-Oct-2015,2015.0,M,2015.10.28.a,2015.10.28,2015.10.28.a
390,10-Jul-2015,2015.0,M,2015.07-10,2015.07.10,2015.07.10
560,04-May-2014,2014.0,NaN,2014.05.04,2013.05.04,2014.05.04
3522,05-Jul-1967,1967.0,M,1967.07.05,1967/07.05,1967.07.05
3795,30-Aug-1962,1962.0,M,"1962,08.30.b",1962.08.30.b,"1962,08.30.b"
3880,Reported 06-Sep-1961,1961.0,M,1961.09.02.R,"1961.09,06.R",1961.09.02.R
4403,05-Aug-1952,1952.0,NaN,1952.08.05,1952.08.04,1952.08.05
4425,1951.12.15.R,1951.0,M,1851.12.15.R,1951.12.15.R,1851.12.15.R
4949,Reported 08-Feb-1934,1934.0,M,1934.01.08.R,1934.02.08.R,1934.02.08.R
5275,Reported to have taken place in 1919,1919.0,M,1900.00.00.R,1919.00.00.R,1900.00.00.R
5358,Reported 10-Jul-1913,1913.0,M,1913.07.10.R,1913.17.10.R,1913.07.10.R
5386,Reported 31-Jul-1911,1911.0,M,1911.07.31.R,1911.07.31.T,1911.07.31.R
5488,Reported 06-Sep-1905,1905.0,M,NaN,1905.09.06.R,1905.09.06.R
5777,Reported 28-Apr-1884,1884.0,M,1884.04.38.R,1884.04.28.R,1884.04.38.R
5883,Reported 18-Jun- 1874,1874.0,M,1876.06.18.R,1874.06.18.R,1876.06.18.R
5944,May-1864,1864.0,M,1864.05,1864.05.00,1864.05.00
6009,29-Apr-1853,1853.0,M,"1853,94.29",1853.04.29,"1853,94.29"
6122,Reported 01-May-1808,1808.0,NaN,1808.06.01.R,1808.05.01.R,1808.06.01.R

#### It looks like case_number.1 and case_number.2 are corrections of case_number

#### The rule for the naming in these three columns seems to be  year.month.day.victim.Reported yyyy.mm.dd.[a].[R]
#### I see some punctuations types I'm going to correct first for the three of them

In [29]:
sharks_attacks3[['case_number', 'case_number.1', 'case_number.2']] = sharks_attacks3[['case_number', 'case_number.1', 'case_number.2']].astype(str)

In [30]:
sharks_attacks3['case_number']= sharks_attacks3['case_number'].str.replace(',', '.')

In [31]:
sharks_attacks3['case_number.1']= sharks_attacks3['case_number.1'].str.replace(',', '.')

In [32]:
sharks_attacks3['case_number.2']= sharks_attacks3['case_number.2'].str.replace(',', '.')

#### case_number.2 seems to be last updated, so we're are going to replace the values where case_number and case_number.2  differ into case_number

In [33]:
# Checks values where case_number and case_number.2 differ

sharks_attacks3[['date','year','sex','case_number','case_number.2']].loc[(sharks_attacks3['case_number'] != sharks_attacks3['case_number.2'])]

                      date    year sex   case_number case_number.2
390            10-Jul-2015  2015.0   M    2015.07-10    2015.07.10
4949  Reported 08-Feb-1934  1934.0   M  1934.01.08.R  1934.02.08.R
5488  Reported 06-Sep-1905  1905.0   M           nan  1905.09.06.R
5944              May-1864  1864.0   M       1864.05    1864.05.00

In [34]:
# Replacement of values 
sharks_attacks3['case_number'].iloc[[390, 4949, 5488, 4944]] = sharks_attacks3['case_number.2'].iloc[[390, 4949, 5488, 4944]]

In [35]:
sharks_attacks3[sharks_attacks3["case_number"].isnull()].count()

case_number               0
date                      0
year                      0
type                      0
country                   0
area                      0
location                  0
activity                  0
name                      0
sex                       0
age                       0
injury                    0
fatal_(y/n)               0
time                      0
species                   0
investigator_or_source    0
pdf                       0
href_formula              0
href                      0
case_number.1             0
case_number.2             0
original_order            0
unnamed:_22               0
unnamed:_23               0
dtype: int64

In [36]:
# We make sure there're not more punctuation typos within "case_numer"

sharks_attacks3['case_number']= sharks_attacks3['case_number'].str.replace('-', '.')
sharks_attacks3['case_number']= sharks_attacks3['case_number'].str.replace('/', '.')

#### Here we are trying to get as much correct date registers from "case_number" as possible

In [37]:
# We check how many registers have valid date format within "case_number"

sharks_attacks3[sharks_attacks3["case_number"].str.match("^([0-9][0-9]|19[0-9][0-9]|20[0-9][0-9])(\.|-|/)([1-9]|0[1-9]|1[0-2])(\.|-|/)([1-9]|0[1-9]|1[0-9]|2[0-9]|3[0-1])$") == True]

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5556,1900.09.05,05-Sep-1900,1900.0,Unprovoked,USA,Hawaii,"Waikiki Beach, Oahu",Floating,Joe Hartman,M,NaN,"Bathing suit torn & ""imprints of the shark's t...",N,Afternoon,NaN,"Honolulu Republican, 9/6/1900",1900.09.05-Hartman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.09.05,1900.09.05,747.0,NaN,NaN
5557,1900.08.21,21-Aug-1900,1900.0,Unprovoked,USA,North Carolina,"Southport, Brunswick County",Bathing,Burris,M,NaN,Left hand lacerated,N,Afternoon,NaN,"C. Creswell, GSAF",1900.08.21-Burriss.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.08.21,1900.08.21,746.0,NaN,NaN
5558,1900.07.31,31-Jul-1900,1900.0,Unprovoked,CROATIA,Primorje-Gorski Kotar County,"Volosko, Opatija",Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1900.07.31-Croatia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.07.31,1900.07.31,745.0,NaN,NaN
5559,1900.07.14,14-Jul-1900,1900.0,Invalid,USA,Hawaii,"Makapu'u Point, O'ahu",Hunting seashells,Emil Uhlbrecht & unidentified person,M,NaN,"Believed drowned. UhlbrechtÂs foot, and the pe...",NaN,NaN,Questionable,"Los Angeles Times, 7/28/1900",1900.07.14-Uhlbrecht.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.07.14,1900.07.14,744.0,NaN,NaN
5561,1900.01.28,28-Jan-1900,1900.0,Unprovoked,AUSTRALIA,New South Wales,"Lane Cove River, Sydney Harbor (Estuary)","Standing, gathering oysters",Charles Duck,M,NaN,Right posterior thigh bitten,N,12h00,NaN,"Poverty Bay Herald, 2/12/1900",1900.01.28-Duck.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1900.01.28,1900.01.28,742.0,NaN,NaN

In [38]:
# We check the opposite here in case we can make some data cleaning 

sharks_attacks3[sharks_attacks3["case_number"].str.match("^([0-9][0-9]|19[0-9][0-9]|20[0-9][0-9])(\.|-|/)([1-9]|0[1-9]|1[0-2])(\.|-|/)([1-9]|0[1-9]|1[0-9]|2[0-9]|3[0-1])$") != True]

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN
12,2018.05.13.b,13-May-2018,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,10,Severe bite to right forearm,N,15h00,NaN,"C. Creswell, GSAF & K. McMurray TrackingSharks...",2018.05.13.b-Turrell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.b,2018.05.13.b,6291.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ÂºN, 79ÂºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

#### We see within the "case_column" we could get rid of register with extra characters at the end (e.g.  2018.05.13.b --> 2018.05.13)

In [39]:
def re_sub(x):
    x == str(x)
    y = re.sub(".[aA-zZ]$", "", x)
    return y

In [40]:
sharks_attacks3["new_date"] = sharks_attacks3["case_number"].apply(re_sub)

In [41]:
sharks_attacks3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             6302 non-null   object
 1   date                    6302 non-null   object
 2   year                    6300 non-null   float64
 3   type                    6298 non-null   object
 4   country                 6252 non-null   object
 5   area                    5847 non-null   object
 6   location                5762 non-null   object
 7   activity                5758 non-null   object
 8   name                    6092 non-null   object
 9   sex                     5737 non-null   object
 10  age                     3471 non-null   object
 11  injury                  6274 non-null   object
 12  fatal_(y/n)             5763 non-null   object
 13  time                    2948 non-null   object
 14  species                 3464 non-null   object
 15  investigator_or_source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href_formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  case_number.1           6302 non-null   object
 20  case_number.2           6302 non-null   object
 21  original_order          6302 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             2 non-null      object
 24  new_date                6302 non-null   object
dtypes: float64(2), object(23)
memory usage: 1.3+ MB

In [42]:
# We check again if the number of registers within "case_number" with a 0000.00.00 format has increase

sharks_attacks3[sharks_attacks3["new_date"].str.match("^([0-9][0-9]|19[0-9][0-9]|20[0-9][0-9])(\.|-|/)([1-9]|0[1-9]|1[0-2])(\.|-|/)([1-9]|0[1-9]|1[0-9]|2[0-9]|3[0-1])$") == True].shape

(4931, 25)

#### It has increased, from 3486 rows to 4931

#### We've seen that there're some registers that don't have the correct case_number format. For these confirmation dates are not very precisely. So we are going to delete them

In [43]:
sharks_attacks4 = sharks_attacks3[sharks_attacks3["new_date"].str.match("^ND.\d+") != True]

#### Let's see if we can do some more cleaning by finding registers in case_numbers with character length greater than 10 ( yyyy.mm.dd)

In [44]:
sharks_attacks4[sharks_attacks4["new_date"].str.len() > 10]

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,new_date
847,2011.10.29.,29-Oct-2011,2011.0,Unprovoked,USA,California,"Marina State Beach, Monterey County",Surfing,Eric Tarantino,M,27,"Lacerations to right wrist, foream & neck",N,NaN,White shark,R. Collier,2011.10.29-Tarantino.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2011.10.29.,2011.10.29.,5456.0,NaN,NaN,2011.10.29.
849,2011.10.28.,29-Oct-2011,2011.0,Provoked,SOUTH AFRICA,KwaZulu-Natal,"uShaka Aquarium, Durban",Diving,NaN,NaN,NaN,Arm bitten by captive shark PROVOKED INCIDENT,N,NaN,Raggedtooth shark,"Durban Radio, 10/29/2011",2011.10.28-uShaka-Aquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2011.10.28.,2011.10.28.,5454.0,NaN,NaN,2011.10.28.
881,2011.08.17.c.,17-Aug-2011,2011.0,Unprovoked,USA,North Carolina,"Kure Beach, New Hanover County",Wading,Trang Aronian,F,20s,Lacerations to foot,N,17h00,Possibly a 5' to 6' sandtiger shark,C. Creswell,2011.08.17.c-Aronian.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2011.08.17.c.,2011.08.17.c.,5422.0,NaN,NaN,2011.08.17.c.
882,2011.08.17.b.,17-Aug-2011,2011.0,Invalid,USA,North Carolina,"Wrightsville Beach, New Hanover County",NaN,NaN,M,12,Abrasions to left hand,NaN,16h00,Shark involvement not confirmed,"C. Creswell, GSAF; Wway, 8/17/2011",2011.08.17.b-child.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2011.08.17.b.,2011.08.17.b.,5421.0,NaN,NaN,2011.08.17.b.
1135,2009.04.17.,17-Apr-2009,2009.0,Unprovoked,USA,Florida,"Walton Rocks, St Lucie County",Surfing,Alexander Wagner,M,31,Laceration to forearm,N,13h15,2' to 3' shark,"TC Palm, 4/17/09",2009.04.17-Wagner.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2009.04.17.,2009.04.17.,5168.0,NaN,NaN,2009.04.17.
1346,2007.08.19.a.,19-Aug-2007,2007.0,Unprovoked,USA,South Carolina,"Lakewood Campground, Grand Strand, Horry County",Playing,male,M,7,Right calf bitten,N,10h00,NaN,"C. Creswell, GSAF",2007.08.19.a-boy.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.08.19.a.,2007.08.19.a.,4957.0,NaN,NaN,2007.08.19.a.
1849,2002.06.13.R2,Reported 13-Jun-2002,2002.0,Unprovoked,PAPUA NEW GUINEA,Louisiade Archipelago,"Brooker Island , Calvados Chain",NaN,NaN,NaN,NaN,"Arm severely lacerated, surgically amputated",N,NaN,NaN,"PNG Post-Courier, 6/13/2002, p.5",2002.06.13-R.2-beche-de-mer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2002.06.13.R2,2002.06.13.R2,4454.0,NaN,NaN,2002.06.13.R2
1850,2002.06.13.R1,Reported 13-Jun-2002,2002.0,Unprovoked,PAPUA NEW GUINEA,Louisiade Archipelago,"Gawa Reefs, Sudest Island",Attempting to retreive a dinghy,an elementary school teacher,NaN,NaN,FATAL,Y,NaN,NaN,"PNG Post-Courier, 6/13/2002, p.5",2002.06.13.R.1-schoolteacher.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2002.06.13.R1,2002.06.13.R1,4453.0,NaN,NaN,2002.06.13.R1
2276,1996.10.05.,05-Oct-1996,1996.0,Unprovoked,USA,California,"Dillon Beach, Marin County",Surfing,Mark Quirt,M,22,Lower leg bitten,N,13h00,5.5 m to 6 m [18' to 20'] white shark,"R. Collier, pp.156-157",1996.10.05-Quirt_Collier.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1996.10.05.,1996.10.05.,4027.0,NaN,NaN,1996.10.05.
2340,1995.09.19.,19-Sep-1995,1995.0,Unprovoked,USA,Florida,"Matanzas Bay Inlet, St. Johns County",Surfing,Gavin Korth,M,19,Left arm & hand lacerated,N,NaN,1.8 m [6'] shark,"Orlando Sentinel, 9/20/1995, p.C.3",1995.09.19-Korth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1995.09.19.,1995.09.19.,3963.0,NaN,NaN,1995.09.19.
2994,1982.02.07..b,07-Feb-1982,1982.0,Unprovoked,USA,Florida,Elliot Key,Diving,Kim Seibel,M,29,"FATAL Disappeared while diving, bathing suit &...",Y,NaN,NaN,"Miami Herald, 9/5/1982, p.1B",1982.02.07.b-Seibel.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1982.02.07..b,1982.02.07..b,3309.0,NaN,NaN,1982.02.07.
3053,1980.11.11.,11-Nov-1980,1980.0,Unprovoked,BRAZIL,Pernambuco,Piedade,Swimming,Ibson Gomes Vieira,M,16,FATAL,Y,NaN,NaN,"JC Online, 6/25/2012",1980.11.11-Vieira.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1980.11.11.,1980.11.11.,3250.0,NaN,NaN,1980.11.11.
3942,1960.12.27.a.,27-Dec-1960,1960.0,Unprovoked,AUSTRALIA,New South Wales,"Bondi Beach, Sydney",NaN,Mrs. Despo Snow-Christensen,F,27,"Shark brushed past, minor injuries if any",N,NaN,3 m [10'] shark,"Baltimore Sun, 12/28/1960; Sydney Morning Hera...",1960.12.27.a -Despo Snow-Christensen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.12.27.a.,1960.12.27.a.,2361.0,NaN,NaN,1960.12.27.a.
3970,1960.08.22.R.,Reported 22-Aug-1960,1960.0,Unprovoked,PAPUA NEW GUINEA,Milne Bay Province,NaN,Free-diving,"""a native""",M,NaN,Lost left arm,N,NaN,NaN,"The Age, 8/22/1960",1960.08.22.R-Milne-PNG.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.08.22.R.,1960.08.22.R.,2333.0,NaN,NaN,1960.08.22.R.
4014,1960.02.10.,10-Feb-1960,1960.0,Provoked,AUSTRALIA,New South Wales,Near Bondi Beach,Shark fishing,"12' open motor boat, occupants Jack Platt & Pe...",NaN,NaN,No injury to occupants. Hooked shark rammed bo...,N,NaN,"Tiger shark, 14'","Sydney Daily Telegraph, 2/11/1960",1960.02.10-Bondi-Tiger.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1960.02.10.,1960.02.10.,2289.0,NaN,NaN,1960.02.10.
4085,1959.07.03.a & b,03-Jul-1959,1959.0,Sea Disaster,CARIBBEAN SEA,PANAMA,"Off Cristobal, 200 miles northeast of the entr...",Columbian petrol barge Rio Atrato burned and sank,Teresea Britton (on raft) & a man (on floating...,NaN,27,"FATAL X 2, 8 others missing. Survivors fought ...",Y,NaN,NaN,"Cambridge Daily News, 7/4/1959; V. M. Coppleso...",1959.07.03-Rio-Atranto.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.07.03.a & b,1959.07.03.a & b,2218.0,NaN,NaN,1959.07.03.a &
4101,1959.04.09..a,09-Apr-1959,1959.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,Port Elizabeth,Fishing,male,M,NaN,2 toes bitten off,N,NaN,NaN,NaN,1959.04.09.a-Fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.04.09..a,1959.04.09..a,2202.0,NaN,NaN,1959.04.09.
4306,1955.02.01.,01-Feb-1955,1955.0,Boating,AUSTRALIA,New South Wales,Parramatta River,Rowing,"racing scull, occupants: Bill Andrews on bow o...",NaN,NaN,"No injury to occupants; shark grabbed oar, vau...",N,NaN,NaN,"V.M. Coppleson (1958), p.187",1955.02.01-Racing-scull.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1955.02.01.,1955.02.01.,1997.0,NaN,NaN,1955.02.01.
4747,1941.02.13.,13-Feb-1941,1941.0,Provoked,AUSTRALIA,New South Wales,Wollongong,Fishing,Robert See,M,34,Hand lacerated by hooked shark PROVOKED INCIDENT,N,NaN,NaN,"Canberra Times, 2/18/1941, p.4",1941.02.13-See.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1941.02.13.,1941.02.13.,1556.0,NaN,NaN,1941.02.13.
4826,1938.00.00.e.R,Reported 1938,1938.0,Unprovoked,EGYPT,NaN,Mersa Matruh,Sponge diving,males,M,NaN,FATAL,Y,NaN,NaN,"C. Moore, GSAF",1938.00.00.e.R-Egypt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1938.00.00.e.R,1938.00.00.e.R,1477.0,NaN,NaN,1938.00.00.e
4885,1936.03.04.,04-Mar-1936,1936.0,Boating,AUSTRALIA,Northern Territory,Between Cape Hotham & Darwin (50 miles from Da...,Rowing,"dinghy, occupants: aborigine & lighthouse keeper",NaN,NaN,"No injury to occupants, shark almost wrenched ...",N,NaN,NaN,"G.P. Whitley, p.263; V.M. Coppleson (1958), p.186",1936.03.04-CapeHotham.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.03.04.,1936.03.04.,1418.0,NaN,NaN,1936.03.04.
4887,1936.02.20..R,Reported 20-Feb-1936,1936.0,Unprovoked,AUSTRALIA,Queensland,Brisbane River,Sculling,C.E. Slaughter,M,NaN,"No injury, scull sank",N,NaN,10' shark,"Nevada State Journal, 5/2/1936",1936.02.20.R-Slaughter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1936.02.20..R,1936.02.20..R,1416.0,NaN,NaN,1936.02.20.
5089,1929.00.00.e.R,Reported 1929,1929.0,Invalid,AUSTRALIA,New South Wales,Sydney Harbor,Swimming,Eric Johanssen,M,NaN,"Later found to be fiction, never happened",NaN,NaN,Invalid,"J. Lowell, Cradle of the Deep",1929.00.00.e.R-Johanssen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1929.00.00.e.R,1929.00.00.e.R,1214.0,NaN,NaN,1929.00.00.e
5256,1920.01.24.R.b,Reported 24-Jan-1920,1920.0,Unprovoked,AUSTRALIA,Torres Strait,NaN,Diving,male,M,NaN,Lacerations to foot,N,NaN,NaN,"The Argus, 1/24/1920",1920.01.24.R.b-TorresStrait-diver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1920.01.24.R.b,1920.01.24.R.b,1047.0,NaN,NaN,1920.01.24.R
5258,1920.01.24.R.a,Reported 24-Jan-1920,1920.0,Unprovoked,AUSTRALIA,Torres Strait,Arlington Reef,Free diving,Japanese diver,M,NaN,FATAL,Y,NaN,NaN,"The Argus, 1/24/1920",1920.01.24.R.a-JapaneseDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1920.01.24.R.a,1920.01.24.R.a,1045.0,NaN,NaN,1920.01.24.R
5322,1915.07.06.a.R,Reported 06-Jul-1915,1915.0,Unprovoked,MEXICO,Tamaulipas,Tampico,Fishing,Captain Thaxton,M,NaN,FATAL,Y,NaN,NaN,"Oakland Tribune, 7/6/1915",1915.07.06.b.R-Thaxton.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1915.07.06.a.R,1915.07.06.a.R,981.0,NaN,NaN,1915.07.06.a
5323,1915.07.06.a.R,Reported 06-Jul-1915,1915.0,Unprovoked,MEXICO,NaN,Santa Maria Bar,Wading,J.W. McDonald,M,NaN,FATAL,Y,NaN,NaN,"Oakland Tribune, 7/6/1915",1915.07.06.a.R-McDonald.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1915.07.06.a.R,1915.07.06.a.R,980.0,NaN,NaN,1915.07.06.a
5418,1909.06.26.a.R,Reported 26-Jun-1909,1909.0,Unprovoked,MEXICO,Guerrero,Zacatula,Bathing,Rosa Lopez,F,NaN,FATAL,Y,NaN,NaN,"Adams County News, 6/26/1909",1909.06.26.a.R-Lopez.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.06.26.a.R,1909.06.26.a.R,885.0,NaN,NaN,1909.06.26.a
5419,1909.06.26.b.R,26-Jun-1909,1909.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Cape Town,NaN,NaN,M,NaN,Remains of soldier in uniform. Probable drowni...,Y,NaN,18-foot shark,"Adams County News, 6/26/1909",1909.06.26.b.R-CapeTown.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1909.06.26.b.R,1909.06.26.b.R,884.0,NaN,NaN,1909.06.26.b
5450,1907.08.12.b..R,Reported 12-Aug-1907,1907.0,Unprovoked,CROATIA,Primorje-Gorski Kotar County,Krk Island,Swimming,a school teacher,F,NaN,FATAL,Y,NaN,NaN,"Ogden Standard, 8/13/1907",1907.08.12.b.R-SchoolTeacher.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1907.08.12.b..R,1907.08.12.b..R,853.0,NaN,NaN,1907.08.12.b.
5451,1907.08.12.a..R,Reported 12-Aug-1907,1907.0,Unprovoked,CROATIA,Primorje-Gorski Kotar County,Krk Island,Swimming,Josef Slivovic,M,NaN,FATAL,Y,NaN,NaN,"Ogden Standard, 8/13/1907",1907.08.12.a.R-Silvovic.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1907.08.12.a..R,1907.08.12.a..R,852.0,NaN,NaN,1907.08.12.a.
5465,1906.10.10.d.R,Reported 10-Oct-1906,1906.0,Unprovoked,USA,Hawaii,NaN,NaN,"an ""old native""",M,NaN,Buttock bitten,N,NaN,NaN,"Washington Post, 10/10/1906",1906.10.10.d.R-OldNative.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1906.10.10.d.R,1906.10.10.d.R,838.0,NaN,NaN,1906.10.10.d
5466,1906.10.10.c.R,Reported 10-Oct-1906,1906.0,Unprovoked,USA,Hawaii,NaN,Swimming,skipper of a coasting schooner,M,NaN,FATAL,Y,NaN,NaN,"Washington Post, 10/10/1906",1906.10.10.c.R-skipper.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1906.10.10.c.R,1906.10.10.c.R,837.0,NaN,NaN,1906.10.10.c
5467,1906.10.10.b.R,Reported 10-Oct-1906,1906.0,Unprovoked,USA,Hawaii,NaN,Diving,a native,M,NaN,Arm severed,N,NaN,NaN,"Washington Post, 10/10/1906",1906.10.10.b.R-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1906.10.10.b.R,1906.10.10.b.R,836.0,NaN,NaN,1906.10.10.b
5468,1906.10.10.a.R,Reported 10-Oct-1906,1906.0,Unprovoked,USA,Hawaii,NaN,Swimming,a sailor,M,NaN,FATAL,Y,NaN,NaN,"Washington Post, 10/10/1906",1906.10.10.a.R-Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1906.10.10.a.R,1906.10.10.a.R,835.0,NaN,NaN,1906.10.10.a
5469,1906.09.27.R.b,Reported 27-Sep-1906,1906.0,Unprovoked,INDONESIA,Java,Lorok Bay,Swimming,William Munich,M,NaN,Thumb & index finger of left hand severed,N,NaN,NaN,"Atlanta Constitution, 9/27/1906",1906.09.27.R.a&b-Munich-Swede.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1906.09.27.R.b,1906.09.27.R.b,834.0,NaN,NaN,1906.09.27.R
5470,1906.09.27.R.a,Reported 27-Sep-1906,1906.0,Unprovoked,INDONESIA,Java,Lorok Bay,Swimming,a Swedish sailor,M,NaN,FATAL,Y,NaN,NaN,"Atlanta Constitution, 9/27/1906",1906.09.27.R.a&b-Munich-Swede.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1906.09.27.R.a,1906.09.27.R.a,833.0,NaN,NaN,1906.09.27.R
5480,1906.04.10.R.a & b,Reported 10-April 1906,1906.0,Sea Disaster,INDONESIA,NaN,40 miles from Tahane Island,The schooner Tahitienne foundered in a hurricane,Captain Baxter & Dick Chares,M,NaN,FATAL x 2,Y,NaN,NaN,"Atlanta Constitution, 5/13/1906, et al.",1906.04.10.R.a-b-Baxter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1906.04.10.R.a & b,1906.04.10.R.a & b,823.0,NaN,NaN,1906.04.10.R.a &
5586,1898.09.19.b.R,Reported 19-Sep-1898,1898.0,Unprovoked,NaN,NaN,NaN,Diving,Halletts,M,NaN,Lacerations to hand from shark trapped inside ...,N,NaN,NaN,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.b.R-Halletts.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.b.R,1898.09.19.b.R,717.0,NaN,NaN,1898.09.19.b
5587,1898.09.19.a.R,Reported 19-Sep-1898,1898.0,Unprovoked,NaN,NaN,NaN,Diving,male,M,NaN,Lacerations to fingers,N,NaN,NaN,"Lincoln Evening News & Daily Call, 9/19/1898",1898.09.19.a.R.Sully.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1898.09.19.a.R,1898.09.19.a.R,716.0,NaN,NaN,1898.09.19.a
5612,1897.03.15.b.R,Reported 15-Mar-1897,1897.0,Unprovoked,NaN,Mediterranean Sea,NaN,Swimming,male,M,NaN,FATAL,Y,NaN,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.b.R-Mediterranean.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.b.R,1897.03.15.b.R,691.0,NaN,NaN,1897.03.15.b
5613,1897.03.15.a.R,Reported 15-Mar-1897,1897.0,Unprovoked,USA,Massachusetts,30 miles south of Lynn,Fishing,male,M,NaN,FATAL,Y,NaN,NaN,"Daily Northwestern, 5/15/1897",1897.03.15.a.R-Lynn.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1897.03.15.a.R,1897.03.15.a.R,690.0,NaN,NaN,1897.03.15.a
5658,1894.06.15.b.R,Reported 15-Jun-1894,1894.0,Unprovoked,USA,North Carolina,"New Bern, Craven County",Bathing,soldier,M,NaN,Right leg bitten,N,NaN,NaN,"Warren Ledger, 6/15/1894",1894.06.15.b.R-Newbern.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1894.06.15.b.R,1894.06.15.b.R,645.0,NaN,NaN,1894.06.15.b
5659,1894.06.15.a.R,Reported 15-Jun-1894,1894.0,Unprovoked,MEXICO,Bay of Campeche,NaN,Fell from yardarm of British ship Rover,sailor,M,NaN,FATAL,Y,NaN,20' shark,"Warren Ledger, 6/15/1894",1894.06.15.a-R-Rover.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1894.06.15.a.R,1894.06.15.a.R,644.0,NaN,NaN,1894.06.15.a
5660,1894.04.28.b.R,Reported 28-Apr-1894,1894.0,Unprovoked,BURMA,Rangoon,Amherst,Bathing,Grace Darling,F,NaN,FATAL,Y,NaN,NaN,"Bruce Herald, 8/24/1894",1894.04.28.b.R-GraceDarling.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1894.04.28.b.R,1894.04.28.b.R,643.0,NaN,NaN,1894.04.28.b
5661,1894.04.28.a.R,Reported 28-Apr-1894,1894.0,Unprovoked,BURMA,Rangoon,Amherst,Bathing,Lucy Stone,F,NaN,FATAL,Y,NaN,NaN,"Bruce Herald, 8/24/1894",1894.04.28.a.R-LucyStone.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1894.04.28.a.R,1894.04.28.a.R,642.0,NaN,NaN,1894.04.28.a
5775,1884.08.28.R.,Reported 28-Aug-1884,1884.0,Unprovoked,USA,New Jersey,"Bayonne, Hudson County",Boating,Edward Monroe,M,NaN,Hand bitten,N,NaN,NaN,"Atlanta Contitution, 8/28/1884",1884.08.28.R-EdwardMonroe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1884.08.28.R.,1884.08.28.R.,528.0,NaN,NaN,1884.08.28.R.
5856,1877.04.04.,04-Apr-1877,1877.0,Unprovoked,AUSTRALIA,Victoria,Portarlington,Bathing,Mitchell,M,NaN,Thigh & foot bitten,N,Morning,NaN,"Brisbane Courier, 4/11/1877",1877.04.04-Mitchell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1877.04.04.,1877.04.04.,447.0,NaN,NaN,1877.04.04.
5884,1874.06.15.b.R,Reported 15-Jun-1874,1874.0,Unprovoked,KIRIBATI,Gilbert Islands,Beru,Escaping from blackbirding vessel,male,M,NaN,FATAL,Y,NaN,NaN,"Daily Southern Cross, 6/15/1874",1874.06.15.b.R-Blackbirder.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.15.b.R,1874.06.15.b.R,419.0,NaN,NaN,1874.06.15.b
5885,1874.06.15.a.R,Reported 15-Jun-1874,1874.0,Unprovoked,NaN,NaN,NaN,Salvaging a shipwreck,male,M,NaN,Heel bitten,N,NaN,NaN,"Daily Southern Cross, 6/15/1874",1874.06.15.a.R-Achilles-tendon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1874.06.15.a.R,1874.06.15.a.R,418.0,NaN,NaN,1874.06.15.a
5959,1863.00.00.R4,1863,1863.0,Unprovoked,ANDAMAN ISLANDS,NaN,NaN,Fell overboard,a local fisherman,M,NaN,FATAL,Y,10h00,NaN,"North Adams Transcript, 3/18/1898",1863.00.00.R4-AndamanIslands.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1863.00.00.R4,1863.00.00.R4,344.0,NaN,NaN,1863.00.00.R4
5960,1863.00.00.R3,1863,1863.0,Unprovoked,CEYLON,NaN,NaN,Fell overboard,male from the ship James F. Bradwell,M,NaN,FATAL,Y,NaN,NaN,"North Adams Transcript, 3/18/1898",1863.00.00.R3-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1863.00.00.R3,1863.00.00.R3,343.0,NaN,NaN,1863.00.00.R3

In [45]:
# The fastest way to delete those extra characters is limiting the length of the strings to 10 chars

sharks_attacks4["new_date"]= sharks_attacks4["new_date"].str[0:10]

#### We filter out those values in "new_date" that start with 0 which means we can't get any date information about those

In [46]:
sharks_attacks4 = sharks_attacks4[sharks_attacks4["new_date"].str.match("^0") != True]

#### Finally we are only going to keep those register within "new_date" with a complete date format yyyy.mm.dd (eg. not accepted 2018.09.00)

In [47]:
sharks_attacks5 = sharks_attacks4[sharks_attacks4["new_date"].str.match("^([0-9][0-9]|19[0-9][0-9]|20[0-9][0-9])(\.|-|/)([1-9]|0[1-9]|1[0-2])(\.|-|/)([1-9]|0[1-9]|1[0-9]|2[0-9]|3[0-1])$") == True]

#### Finally we've decided we are going to use the column "new_date" (cleaned "case_number") as a date column

In [48]:
sharks_attacks5["new_date"] = pd.to_datetime(sharks_attacks5["new_date"], format='%Y.%m.%d')

#### For analysis purposes we are going to create another column with just  year and month

In [49]:
sharks_attacks5["year"] = pd.DatetimeIndex(sharks_attacks5["new_date"]).year
sharks_attacks5["month_year"] = pd.to_datetime(sharks_attacks5["new_date"]).dt.to_period('M')
sharks_attacks5.shape

(4967, 26)

In [50]:
sharks_attacks5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4967 entries, 0 to 5561
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             4967 non-null   object
 1   date                    4967 non-null   object
 2   year                    4967 non-null   int64
 3   type                    4964 non-null   object
 4   country                 4954 non-null   object
 5   area                    4733 non-null   object
 6   location                4697 non-null   object
 7   activity                4630 non-null   object
 8   name                    4839 non-null   object
 9   sex                     4573 non-null   object
 10  age                     3234 non-null   object
 11  injury                  4953 non-null   object
 12  fatal_(y/n)             4556 non-null   object
 13  time                    2779 non-null   object
 14  species                 3010 non-null   object
 15  investigator_or_source  4956 non-null   object
 16  pdf                     4967 non-null   object
 17  href_formula            4966 non-null   object
 18  href                    4967 non-null   object
 19  case_number.1           4967 non-null   object
 20  case_number.2           4967 non-null   object
 21  original_order          4967 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             1 non-null      object
 24  new_date                4967 non-null   datetime64[ns]
 25  month_year              4967 non-null   period[M]
dtypes: datetime64[ns](1), float64(1), int64(1), object(22), period[M](1)
memory usage: 1.0+ MB

In [51]:
sharks_attacks5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4967 entries, 0 to 5561
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             4967 non-null   object
 1   date                    4967 non-null   object
 2   year                    4967 non-null   int64
 3   type                    4964 non-null   object
 4   country                 4954 non-null   object
 5   area                    4733 non-null   object
 6   location                4697 non-null   object
 7   activity                4630 non-null   object
 8   name                    4839 non-null   object
 9   sex                     4573 non-null   object
 10  age                     3234 non-null   object
 11  injury                  4953 non-null   object
 12  fatal_(y/n)             4556 non-null   object
 13  time                    2779 non-null   object
 14  species                 3010 non-null   object
 15  investigator_or_source  4956 non-null   object
 16  pdf                     4967 non-null   object
 17  href_formula            4966 non-null   object
 18  href                    4967 non-null   object
 19  case_number.1           4967 non-null   object
 20  case_number.2           4967 non-null   object
 21  original_order          4967 non-null   float64
 22  unnamed:_22             1 non-null      object
 23  unnamed:_23             1 non-null      object
 24  new_date                4967 non-null   datetime64[ns]
 25  month_year              4967 non-null   period[M]
dtypes: datetime64[ns](1), float64(1), int64(1), object(22), period[M](1)
memory usage: 1.0+ MB

### 4.4 Drop columns

#### "original order" column seems the primitive index.  We are goin to keep the index of the dataframe as it is so we don't need this columnn

In [52]:
sharks_attacks5 = sharks_attacks5.drop(columns = ['original_order'])

#### Now I can drop the columns case_number.1 and case-number.2. We merged them into "case_number" before

In [53]:
sharks_attacks5 = sharks_attacks5.drop(['case_number.1', 'case_number.2'], axis=1)

#### The cols 'Unnamed: 22' and 'Unnamed: 23' have only one value and two values. They don't give us further information, we can delete them

In [54]:
sharks_attacks5 = sharks_attacks5.drop(['unnamed:_22', 'unnamed:_23','investigator_or_source','pdf', 'href_formula','href'], axis=1)

In [55]:
sharks_attacks5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4967 entries, 0 to 5561
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  4967 non-null   object
 1   date         4967 non-null   object
 2   year         4967 non-null   int64
 3   type         4964 non-null   object
 4   country      4954 non-null   object
 5   area         4733 non-null   object
 6   location     4697 non-null   object
 7   activity     4630 non-null   object
 8   name         4839 non-null   object
 9   sex          4573 non-null   object
 10  age          3234 non-null   object
 11  injury       4953 non-null   object
 12  fatal_(y/n)  4556 non-null   object
 13  time         2779 non-null   object
 14  species      3010 non-null   object
 15  new_date     4967 non-null   datetime64[ns]
 16  month_year   4967 non-null   period[M]
dtypes: datetime64[ns](1), int64(1), object(14), period[M](1)
memory usage: 698.5+ KB

### 4.5 Column time

#### We check format and unique values from "time" column

In [56]:
sharks_attacks5.time.unique()

array(['18h00', '14h00  -15h00', '07h45', nan, 'Late afternoon', '17h00',
       '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30', '10h40',
       '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40', '08h00',
       '17h35', '15h30', '07h30', '19h00, Dusk', 'Night', '16h00',
       '15h01', '12h00', '13h45', '23h30', '09h00', '14h30', '18h30',
       '12h30', '16h30', '18h45', '06h00', '10h00', '10h44', '13h19',
       'Midday', '13h30', '10h45', '11h20', '11h45', '19h30', '08h30',
       '15h45', 'Shortly before 12h00', '17h34', '17h10', '11h15',
       '08h50', '17h45', '13h00', '10h20', '13h20', '02h00', '09h50',
       '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15', '15h40',
       '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34',
       '15h25', '14h55', '17h46', '15h49', '19h00', 'Midnight',
       '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50', '13h50',
       '19h20', '10h25', '10h45-11h15', '16h45', '15h52', '06h15',
       '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10', '18h05',
       '11h41', '12h25', '17h51', '16h12', '12h45', '10h50', '14h15',
       '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10', '06h10',
       '16h15', 'Between 05h00 and 08h00', '07h08', '17h00 or 17h40',
       '03h00', '>08h00', '--', '12h02', '12h55', '16h14', '17h11',
       '00h30', '14h37', '10h07', '13h53', '11h55', '13h23',
       'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30', '07h19',
       '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51', '18h12',
       '07h10', '07h40', '12h33', '30 minutes after 1992.07.08.a',
       '>06h45', '15h06', '12h54', 'Between 06h00 & 07h20', '16h55',
       '05h40', '<07h30', '21h30', '17h00 Sunset', 'Nightfall', 'X',
       '08h57', '18h30 (Sunset)', '06j00', '08h35', '10h22', '02h45',
       'Prior to 10h37', 'Daybreak', '18h10', '>12h00', 'Mid-morning',
       '08h55', '16h30 or 18h00', 'Just before dawn', 'Daytime', '06h50',
       '01h00', 'Dark', '10h00 / 11h00', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '13h35', 'Late night', '01h32',
       '10h30 or 13h30', '16h23', '15h00j', '"After dark"',
       '10h00 or 14h00', '19h10', '16h25', '18h15 to 21h30',
       '"shortly before dusk"', '>17h30', '>14h30', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"'], dtype=object)

#### We replace "h" within "time" values because it's easier to change the datatype into datetime this way

In [57]:
sharks_attacks5["time"]= sharks_attacks5['time'].str.replace("h", ":")
sharks_attacks5["time"]= sharks_attacks5['time'].str.replace("j", ":")
sharks_attacks5["time"]= sharks_attacks5['time'].str.replace(">", "")

#### We check who many values from "time column doesn't follow the Hours and minutes, 24-hour clock format and it's not null

In [58]:
clean_time = sharks_attacks5[(sharks_attacks5["time"].str.match("^(2[0-3]|[01]?[0-9]):([0-5]?[0-9])$") != True) & sharks_attacks5["time"].notnull()]

In [59]:
clean_time.time.unique()

array(['14:00  -15:00', 'Late afternoon', 'Morning', 'Afternoon',
       '19:00, Dusk', 'Nig:t', 'Midday', 'S:ortly before 12:00',
       'After noon', '1300', '14:30 / 15:30', 'Midnig:t', '09:30 / 10:00',
       '10:45-11:15', 'Evening', 'Sometime between 06:00 & 08:oo',
       'Early afternoon', '07:00 - 08:00', '18:15-18:30', '09:00 - 09:30',
       '0830', 'Just before noon', '1600', 'Early morning', 'Dawn', 'AM',
       'A.M.', 'Dusk', 'Lunc:time', '0500', 'Before 07:00',
       '10:00 -- 11:00', '"Just before 11:00"', '11:115', 'Sunset', '',
       '"Evening"', 'Just before sundown', 'Between 05:00 and 08:00',
       '17:00 or 17:40', '--', 'Just after 12:00', 'Early Morning',
       'S:ortly after midnig:t', '13:345', '09:00 -10:00',
       '20:45 (Sunset)', 'Late morning', 'P.M.', 'S:ortly before 13:00',
       '8:04 pm', 'Possibly same incident as 2000.08.21', 'After Dusk',
       'Noon', '2 :ours after Opperman', 'Mid afternoon', 'Mid morning',
       '11:00 / 11:30', '"Nig:t"', '18:30?',
       '30 minutes after 1992.07.08.a', 'Between 06:00 & 07:20', '<07:30',
       '17:00 Sunset', 'Nig:tfall', 'X', '18:30 (Sunset)',
       'Prior to 10:37', 'Daybreak', 'Mid-morning', '16:30 or 18:00',
       'Just before dawn', 'Daytime', 'Dark', '10:00 / 11:00',
       '15:00 or 15:45', '19:00 / 20:00', '12:45 / 13:45',
       '14:00 - 15:00', 'nig:t', '03:45 - 04:00', '09:30 / 15:30',
       '08:00 / 09:30', 'Late nig:t', '10:30 or 13:30', '15:00:',
       '"After dark"', '10:00 or 14:00', '18:15 to 21:30',
       '"s:ortly before dusk"', 'After 04:00',
       '11:01 -time of s:ip sinking', 'S:ip aban-doned at 03:10',
       'FATAL  (Wire netting installed at local beac:es after t:is incident.)',
       'After midnig:t', 'Late afternon', '"Early evening"'], dtype=object)

#### too many exceptions to clean and we can't delete them as the rest of the columns have notnul values in it. Will keep these ones as unknown

In [60]:
sharks_attacks5[sharks_attacks5["time"].isnull()].count()

case_number    2188
date           2188
year           2188
type           2186
country        2180
area           2008
location       1972
activity       1911
name           2083
sex            1889
age             956
injury         2178
fatal_(y/n)    1906
time              0
species        1172
new_date       2188
month_year     2188
dtype: int64

In [61]:
# sharks_attacks5["time"] = pd.to_datetime(sharks_attacks5["time"], format = "%H:%M", errors="coerce")

In [62]:
# sharks_attacks5.info()

### 4.5 Column sex

#### Check categories within "sex" column

In [63]:
sharks_attacks5.sex.unique()

array(['F', 'M', nan, 'lli', 'N', '.'], dtype=object)

#### We replace everything that is not defined as "F" or "M" for a "U". "U" stands for "Unknown"

In [64]:
sharks_attacks5["sex"]= sharks_attacks5['sex'].str.replace("lli", "U")
sharks_attacks5["sex"]= sharks_attacks5['sex'].str.replace("N", "U")
sharks_attacks5["sex"]= sharks_attacks5['sex'].str.replace(".", "U")

In [65]:
sharks_attacks5.fillna(value={"sex": "U"}, inplace=True)

In [66]:
# Cast types to save memory.
sharks_attacks5["sex"] = sharks_attacks5["sex"].astype("category")

In [67]:
sharks_attacks5.sex.unique()

['F', 'M', 'U']
Categories (3, object): ['F', 'M', 'U']

In [68]:
# Renaming DataFrame categories
sharks_attacks5["sex"].cat.rename_categories(new_categories={"M": "Male", "F": "Female", "U": "Unknown"}, inplace=True)

In [69]:
sharks_attacks5["sex"].value_counts()

Male       4015
Female      555
Unknown     397
Name: sex, dtype: int64

### 4.5 Column age

#### Check unique values within "age" column. This column has a lot of missing values so will try to fix as much values as possible

In [70]:
sharks_attacks5.age.unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '30', '60', '33', '29', '54', '34', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '', '30 or 36', '6Â½', '21 & ?', '75', '33 or 37',
       'mid-30s', '23 & 20', '7      &    31', '20?', '32 & 30',
       '16 to 18', '87', '67', 'Elderly', 'mid-20s', '21 or 26', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '(adult)', '33 & 37',
       '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32',
       '50 & 30', '17 & 35', 'X', '13 or 18', '34 & 19', '33 & 26',
       'MAKE LINE GREEN', '81', '"young"', '17 & 16', 'F', 'Both 11',
       '9 or 10', 'young', '36 & 23', '78', 'A.M.', '?    &   14',
       '10 or 12', '31 or 33'], dtype=object)

In [71]:
sharks_attacks5["age"]= sharks_attacks5["age"].str.replace("s", "")
sharks_attacks5["age"]= sharks_attacks5["age"].str.replace("6Â½", "6")
sharks_attacks5["age"]= sharks_attacks5["age"].str.replace("mid-", "")

In [72]:
sharks_attacks5[(sharks_attacks5["age"].str.match("[1-9]{1,2}") != True) & sharks_attacks5["age"].notnull()]

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,new_date,month_year
182,2017.01.22,22-Jan-2017,2017,Unprovoked,USA,Florida,"Vero Beach, Indian River County",NaN,male,Male,Teen,Puncture wounds to lower arm or hand,N,14:00,NaN,2017-01-22,2017-01
294,2016.03.28.b,28-Mar-2016,2016,Unprovoked,USA,Florida,"Fort Myers Beach, Lee County",NaN,Nick Kawa,Male,Teen,Minor injury to arm. Possibly caused by smalll...,NaN,NaN,Shark involvement not confirmed,2016-03-28,2016-03
526,2014.07.27,27-Jul-2014,2014,Unprovoked,USA,North Carolina,"Sunset Beach, Brunswick County",Swimming,male,Male,Teen,Left foot bitten,N,NaN,Possibly juvenile tiger shark,2014-07-27,2014-07
567,2014.04.04.b,04-Apr-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,Male,teen,Minor puncture wounds to lower left leg,N,13:50,NaN,2014-04-04,2014-04
568,2014.04.04.a,04-Apr-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,Male,teen,Lacerations to foot,N,13:30,NaN,2014-04-04,2014-04
653,2013.07.17.R,Reported 17-Jul-2013,2013,Unprovoked,USA,Florida,"Butler Beach, St Augustine, St. Johns Co...",Swimming,male,Male,teen,4 cuts to posterior calf,N,NaN,NaN,2013-07-17,2013-07
983,2010.10.01,01-Oct-2010,2010,Unprovoked,SOUTH AFRICA,Western Cape Province,"Melkbaai, Strand",Surfing,male,Male,Teen,3 lacerations to foot,N,14:30,NaN,2010-10-01,2010-10
1303,2007.12.15,15-Dec-2007,2007,Unprovoked,AUSTRALIA,Queensland,South Stradbroke Island,Swimming,Josh Edwards,Male,teen,Lacerations to hand,N,NaN,"""a small shark""",2007-12-15,2007-12
1331,2007.09.16.a,16-Sep-2007,2007,Unprovoked,USA,Florida,"Flagler Beach, Flagler County",Surfing,Jessica Riley,Female,Teen,"No injury, surfboard bitten",N,Early morning,9.5' shark?,2007-09-16,2007-09
1520,2005.11.29.R,Reported 29-Nov-2005,2005,Unprovoked,USA,Florida,"Cape San Blas, Gulf County",Surfing,John Larsen,Male,teen,Left foot bitten,N,NaN,NaN,2005-11-29,2005-11
1590,2005.05.02.R,02-May-2005,2005,Sea Disaster,USA,South Carolina,Off Sullivans Island,Sea Disaster,Boat: 14' Sunfish. Occupants Josh Long & Troy...,Male,Teen,No injury,N,NaN,NaN,2005-05-02,2005-05
1658,2004.07.02.b,02-Jul-2004,2004,Unprovoked,EGYPT,Sinai Peninsula,The lagoon at Dahab,Snorkeling,"Mirjam Buser, a Swiss tourist",Female,Teen,Hand severed,N,NaN,"""black tipped"" shark",2004-07-02,2004-07
1824,2002.09.27.b,27-Sep-2002,2002,Provoked,USA,Florida,"Key Largo, Monroe County",Fishing,Jose Diaz,Male,,Left thumb lacerated PROVOKED INCIDENT,N,Afternoon,1.8 m [6'] blacktip shark,2002-09-27,2002-09
1825,2002.09.27.a,27-Sep-2002,2002,Provoked,TONGA,Vava'u,Swimming with humpback whales,Swimming,Felipe Tonga,Male,,Thigh lacerated PROVOKED INCIDENT,N,15:00,"Tiger shark, 1.5 m [5']k",2002-09-27,2002-09
2880,1984.09.22.b,22-Sep-1984,1984,Unprovoked,USA,Florida,NaN,Swimming,male from Tampa,Male,Elderly,Left foot lacerated,N,NaN,NaN,1984-09-22,1984-09
3108,1978.12.29,29-Dec-1978,1978,Unprovoked,AUSTRALIA,Queensland,Bribie Island,NaN,Wayne Brown,Male,,Survived,N,NaN,NaN,1978-12-29,1978-12
3364,1971.04.11,11-Apr-1971,1971,Unprovoked,SOUTH AFRICA,Western Cape Province,Buffels Bay,Swimming,Theo Klein,Male,>50,"FATAL, multiple bites",Y,11:30,White shark according to tooth pattern and wit...,1971-04-11,1971-04
3437,1969.04.19,19-Aug-1969,1969,Provoked,USA,Florida,"Marathon, Monroe County",Fishing,Jack Horner,Male,adult,Laceration to foot from dead shark PROVOKED IN...,N,NaN,"Lemon shark, 9'",1969-04-19,1969-04
3517,1967.08.10,10-Aug-1967,1967,Invalid,AUSTRALIA,New South Wales,Jervis Bay,Anti-sabotage night dive exercise alongside de...,"J.T. Hales and Kenneth J. Hislop, Australian N...",Male,? & 19,"Disappeared, no trace of men or equipment, sha...",NaN,Nig:t,Shark involvement prior to death was not confi...,1967-08-10,1967-08
3802,1962.08.01,01-Aug-1962,1962,Unprovoked,PAPUA NEW GUINEA,"New Ireland Province, Bismarck Archipelago","Pekinberui Village, Tabar Island",Spearfishing,"Tarara, a male",Male,(adult),"FATAL, right thigh severely bitten, right ankl...",Y,17:00,NaN,1962-08-01,1962-08
4052,1959.10.07,07-Oct-1959,1959,Unprovoked,MOZAMBIQUE,Maputo Province,"Xefina Island, Bay of Maputo",Swimming,a Portuguese soldier,Male,X,"FATAL, died in Lourenco Marques Hospital",Y,NaN,NaN,1959-10-07,1959-10
4390,1953.01.08,08-Jan-1953,1953,Boating,AUSTRALIA,Tasmania,Wynyard,Fishing,14-foot boat Sintra,Unknown,MAKE LINE GREEN,"No injury to occupant, shark charged boat",N,Afternoon,10' to 12' shark,1953-01-08,1953-01
4447,1951.03.24,24-Mar-1951,1951,Unprovoked,AUSTRALIA,New South Wales,Sydney,"Fishing, casting in the surf",male,Male,"""young""",Severe lacerations of chest & thigh,N,NaN,5.5 m [18'] shark,1951-03-24,1951-03
4676,1943.05.14,14-May-1943,1943,Sea Disaster,AUSTRALIA,Queensland,Off Brisbane,Hospital Ship Centaur torpedoed & sunk by the ...,unknown,Male,F,FATAL,Y,After 04:00,NaN,1943-05-14,1943-05
4801,1939.01.12,12-Jan-1939,1939,Unprovoked,AUSTRALIA,New South Wales,Clarence River,Scooping prawns,Earl Yager & Riley McLachlan,Male,Both 11,No injury,N,NaN,7' shark,1939-01-12,1939-01
4886,1936.02.23,23-Feb-1936,1936,Provoked,AUSTRALIA,New South Wales,"Angourie, near Yamba",Touching the mouth of a supposedly dead shark,Eva Cameron,Female,young,Finger bitten PROVOKED INCIDENT,N,NaN,NaN,1936-02-23,1936-02
5002,1931.09.27,27-Sep-1931,1931,Unprovoked,JAMAICA,NaN,"East Beach, Kingsston",Diving off wharf,Wilbert Gibbs,Male,Teen,FATAL,Y,12:00,NaN,1931-09-27,1931-09
5084,1929.01.27,27-Jan-1929,1929,Unprovoked,AUSTRALIA,Queensland,"Alma Bay, Magnetic Island, Townsville",Swimming,Harry Weatherall,Male,,"FATAL, right buttock lacerated, left arm sever...",Y,17:30,NaN,1929-01-27,1929-01
5170,1925.03.10,10-Mar-1925,1925,Unprovoked,PAPUA NEW GUINEA,Central Province,Hula,Swimming,a Papuan,Male,A.M.,FATAL,Y,NaN,NaN,1925-03-10,1925-03
5181,1924.07.04,04-Jul-1924,1924,Boating,USA,California,"Newport Beach, Orange County",Fishing,"18' boat, occupants Richard Gunther & Donald C...",Male,? & 14,"No injury, shark tore hole in the side of the ...",N,NaN,NaN,1924-07-04,1924-07
5544,1901.09.23.R,Reported 23-Sep-1901,1901,Unprovoked,CYPRUS,Southern Cyprus,Larnaca,Swimming,male,Male,Teen,"FATAL, bitten on arms, chest & legs",Y,NaN,2 m shark,1901-09-23,1901-09

#### After some data cleaning within the "age" column we are going to turn an "Unknown" category everything that doesn't follow 1 or two digits pattern

In [73]:
sharks_attacks5.loc[sharks_attacks5["age"].str.match("[1-9]{1,2}") != True, "age"] = "Unknown"
sharks_attacks5

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,new_date,month_year
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,Female,57,"No injury to occupant, outrigger canoe and pad...",N,18:00,White shark,2018-06-25,2018-06
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,Female,11,Minor injury to left thigh,N,14:00 -15:00,NaN,2018-06-18,2018-06
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,Male,48,Injury to left lower leg from surfboard skeg,N,07:45,NaN,2018-06-09,2018-06
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,Male,Unknown,Minor injury to lower leg,N,NaN,2 m shark,2018-06-08,2018-06
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,Male,Unknown,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",2018-06-04,2018-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5556,1900.09.05,05-Sep-1900,1900,Unprovoked,USA,Hawaii,"Waikiki Beach, Oahu",Floating,Joe Hartman,Male,Unknown,"Bathing suit torn & ""imprints of the shark's t...",N,Afternoon,NaN,1900-09-05,1900-09
5557,1900.08.21,21-Aug-1900,1900,Unprovoked,USA,North Carolina,"Southport, Brunswick County",Bathing,Burris,Male,Unknown,Left hand lacerated,N,Afternoon,NaN,1900-08-21,1900-08
5558,1900.07.31,31-Jul-1900,1900,Unprovoked,CROATIA,Primorje-Gorski Kotar County,"Volosko, Opatija",Swimming,male,Male,Unknown,FATAL,Y,NaN,NaN,1900-07-31,1900-07
5559,1900.07.14,14-Jul-1900,1900,Invalid,USA,Hawaii,"Makapu'u Point, O'ahu",Hunting seashells,Emil Uhlbrecht & unidentified person,Male,Unknown,"Believed drowned. UhlbrechtÂs foot, and the pe...",NaN,NaN,Questionable,1900-07-14,1900-07
5561,1900.01.28,28-Jan-1900,1900,Unprovoked,AUSTRALIA,New South Wales,"Lane Cove River, Sydney Harbor (Estuary)","Standing, gathering oysters",Charles Duck,Male,Unknown,Right posterior thigh bitten,N,12:00,NaN,1900-01-28,1900-01

In [74]:
sharks_attacks5[sharks_attacks5["age"].isnull()]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, new_date, month_year]
Index: []

#### Change column type to integer

In [75]:
sharks_attacks5["age"] = pd.to_numeric(sharks_attacks5["age"], errors='coerce')

### 4.6 Column type

#### Checking unique categories within "type" column

In [76]:
sharks_attacks5.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan, 'Boat', 'Boatomg'], dtype=object)

#### We correct some misspellings for "Boating" category

In [77]:
sharks_attacks5["type"]= sharks_attacks5['type'].str.replace("^Boat$", "Boating")
sharks_attacks5["type"]= sharks_attacks5['type'].str.replace("Boatomg", "Boating")

In [78]:
sharks_attacks5.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', nan], dtype=object)

In [79]:
sharks_attacks5.fillna(value={"type": "Unknown"}, inplace=True)

In [80]:
sharks_attacks5.type.unique()

array(['Boating', 'Unprovoked', 'Invalid', 'Provoked', 'Questionable',
       'Sea Disaster', 'Unknown'], dtype=object)

In [81]:
# Cast types to save memory.
sharks_attacks5["type"] = sharks_attacks5["type"].astype("category")

In [82]:
sharks_attacks5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4967 entries, 0 to 5561
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  4967 non-null   object
 1   date         4967 non-null   object
 2   year         4967 non-null   int64
 3   type         4967 non-null   category
 4   country      4954 non-null   object
 5   area         4733 non-null   object
 6   location     4697 non-null   object
 7   activity     4630 non-null   object
 8   name         4839 non-null   object
 9   sex          4967 non-null   category
 10  age          3169 non-null   float64
 11  injury       4953 non-null   object
 12  fatal_(y/n)  4556 non-null   object
 13  time         2779 non-null   object
 14  species      3010 non-null   object
 15  new_date     4967 non-null   datetime64[ns]
 16  month_year   4967 non-null   period[M]
dtypes: category(2), datetime64[ns](1), float64(1), int64(1), object(11), period[M](1)
memory usage: 631.1+ KB

### 4.7 Column fatal

#### Checking unique categories within "fatal" column

In [83]:
# Checkpoint
sharks_attacks6 = sharks_attacks5

In [84]:
sharks_attacks6["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017'], dtype=object)

#### Checking how many register we have of each category

In [85]:
shark_count_fatal = sharks_attacks6[["fatal_(y/n)"]]
shark_count_fatal.groupby(["fatal_(y/n)"])["fatal_(y/n)"].count()

fatal_(y/n)
2017          1
M             1
N          3646
UNKNOWN      39
Y           869
Name: fatal_(y/n), dtype: int64

In [86]:
sharks_attacks6[sharks_attacks6["fatal_(y/n)"] == "M"]

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,new_date,month_year
285,2016.04.18.b,18-Apr-2016,2016,Provoked,FRENCH POLYNESIA,Tuamotos,Makemo Atoll,Spearfishing,Hoata Iotua,Male,22.0,Laceration to knee by speared shark PROVOKED I...,M,Morning,"Grey reef shark, 2 m",2016-04-18,2016-04

In [87]:
sharks_attacks6["fatal_(y/n)"]= sharks_attacks6["fatal_(y/n)"].str.replace("UNKNOWN", "Unknown")
sharks_attacks6["fatal_(y/n)"]= sharks_attacks6["fatal_(y/n)"].str.replace("2017", "Y")
sharks_attacks6["fatal_(y/n)"]= sharks_attacks6["fatal_(y/n)"].str.replace("M", "Y")

In [88]:
shark_count_fatal = sharks_attacks6[["fatal_(y/n)"]]
shark_count_fatal.groupby(["fatal_(y/n)"])["fatal_(y/n)"].count()

fatal_(y/n)
N          3646
Unknown      39
Y           871
Name: fatal_(y/n), dtype: int64

In [89]:
sharks_attacks6.fillna(value={"fatal_(y/n)": "Unknown"}, inplace=True)

#### Let's check if we can find Unknown values of "fatal_(y/n) " in "injurity"

In [90]:
# We filter out rows in which "injury" values equal "FATAL" and fatal_(y/n)" is Unknown
sharks_attacks6[(sharks_attacks6["injury"] == "FATAL") & (sharks_attacks6["fatal_(y/n)"] == "Unknown")]

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,new_date,month_year
76,2017.10.01,01-Oct-2017,2017,Invalid,SOUTH AFRICA,Western Cape Province,Dyer Island,Scuba Diving,Bradley Fick,Male,31.0,FATAL,Unknown,NaN,Death may have been due to drowning,2017-10-01,2017-10
874,2011.08.28.b,28-Aug-2011,2011,Invalid,AUSTRALIA,Queensland,Fantome Island,Swimming,Rooster,Male,48.0,FATAL,Unknown,19:30,Shark involvement prior to death not confirmed,2011-08-28,2011-08
2230,1997.08.14.b,14-Aug-1997,1997,Invalid,MEXICO,Quintana Roo,"Santa Rosa, Cozumel",SCUBA diving,Mike Jonatis,Male,28.0,FATAL,Unknown,NaN,Shark involvement prior to death was not confi...,1997-08-14,1997-08
2660,1989.10.08,08-Oct-1989,1989,Invalid,USA,North Carolina,"Between Wrightsville Beach & Carolina Beach, N...",Diving,Doug Nunnally,Male,49.0,FATAL,Unknown,Late afternoon,Shark involvement suspected but not confirmed,1989-10-08,1989-10
2674,1989.07.27,27-Jul-1989,1989,Invalid,BERMUDA,NaN,NaN,Scuba diving,Russian male,Male,35.0,FATAL,Unknown,NaN,Shark involvement suspected but not confirmed,1989-07-27,1989-07
2953,1983.01.15,15-Jan-1983,1983,Invalid,SOUTH AFRICA,KwaZulu-Natal,Amanzimtoti,NaN,black male,Male,NaN,FATAL,Unknown,NaN,Shark involvement prior to death was not confi...,1983-01-15,1983-01
3811,1962.06.25,25-Jun-1962,1962,Invalid,USA,Florida,"Fernandina Beach, Nassau County",U.S. Airforce crewman reported missing after b...,male,Male,NaN,FATAL,Unknown,NaN,Shark involvement not confirmed,1962-06-25,1962-06
5196,1923.11.02,02-Nov-1923,1923,Invalid,AUSTRALIA,New South Wales,Bellinger Head,Fishing,male,Male,NaN,FATAL,Unknown,NaN,Shark involvement suspected but not confirmed,1923-11-02,1923-11
5425,1909.01.17,17-Jan-1909,1909,Invalid,NaN,NaN,Near the equator,Jumped overboard,Thomas Butler,Male,36.0,FATAL,Unknown,NaN,Questionable,1909-01-17,1909-01
5499,1905.03.25,25-Mar-1905,1905,Invalid,AUSTRALIA,Tasmania,Bridport,Bathing,Charles Taylor,Unknown,NaN,FATAL,Unknown,NaN,Questionable,1905-03-25,1905-03

#### Change "fatal" column to category

In [91]:
sharks_attacks5["fatal_(y/n)"] = sharks_attacks5["fatal_(y/n)"].astype("category")

#### We are going to replace here Unknown values from "fatal_(y/n)" for a "Y" whenever "injury" values is iqual to "FATAL"

In [92]:
sharks_attacks6.loc[sharks_attacks5["injury"] == "FATAL", "fatal_(y/n)"] = "Y"

#### We cheack if it works

In [93]:
sharks_attacks6[(sharks_attacks6["injury"] == "FATAL") & (sharks_attacks6["fatal_(y/n)"] != "Y")]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, new_date, month_year]
Index: []

In [94]:
sharks_attacks6[(sharks_attacks6["injury"] == "FATAL") & (sharks_attacks6["fatal_(y/n)"] == "Unknown")]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, new_date, month_year]
Index: []

### 4.8 Column species

In [95]:
sharks_attacks6["species"].unique()

array(['White shark', nan, '2 m shark', ...,
       'Fishermen recovered partial remains from shark a week later',
       "1.8 m to 2.7 m [6' to 9'] shark", 'Tiger shark, 3.9 m'],
      dtype=object)

#### Checking how many register we have of each category

In [96]:
shark_count_species = sharks_attacks6[["species"]]
shark_count_species.groupby(["species"])["species"].count()

species
                                     7
"A long thin brown-colored shark"    1
"A pack of 6 sharks"                 1
"A small shark"                      3
"Blue nose shark"                    1
                                    ..
unknown, possibly a white shark      1
whaler shark                         1
white shark                          1
white shark, 15'                     1
Âsmall brown sharkÂ                  1
Name: species, Length: 1336, dtype: int64

In [97]:
dict(shark_count_species.species.value_counts())

{'White shark': 141,
 'Shark involvement prior to death was not confirmed': 99,
 'Shark involvement not confirmed': 79,
 'Invalid': 75,
 'Tiger shark': 56,
 'Bull shark': 40,
 "4' shark": 40,
 "6' shark": 37,
 "1.8 m [6'] shark": 34,
 'Shark involvement prior to death unconfirmed': 27,
 "1.5 m [5'] shark": 25,
 "3' shark": 25,
 "5' shark": 25,
 "1.2 m [4'] shark": 23,
 "4' to 5' shark": 23,
 '2 m shark': 22,
 'Questionable': 21,
 'No shark involvement': 21,
 'Questionable incident': 20,
 "3 m [10'] shark": 19,
 "3' to 4' shark": 18,
 'Wobbegong shark': 17,
 "2.4 m [8'] shark": 16,
 'Blacktip shark': 16,
 '3 m shark': 15,
 'Shark involvement prior to death not confirmed': 13,
 'Raggedtooth shark': 13,
 "3.7 m [12'] shark": 13,
 "1.2 m to 1.5 m [4' to 5'] shark": 13,
 'Blue shark': 12,
 'Mako shark': 12,
 'Bronze whaler shark': 12,
 '"a small shark"': 12,
 "7' shark": 12,
 "5 m [16.5'] white shark": 12,
 "6 m [20'] white shark": 11,
 '1.5 m shark': 11,
 "12' shark": 11,
 'Grey nurse shark': 11,
 'Nurse shark': 11,
 'Zambesi shark': 10,
 "4 m [13'] white shark": 10,
 "White shark, 4 m [13']": 9,
 '1 m shark': 9,
 'Unidentified species': 8,
 'a small shark': 8,
 "10' shark": 8,
 "2' to 3' shark": 8,
 "2.1 m [7'] shark": 8,
 "White shark, 5 m [16.5']": 7,
 "3 m [10'] white shark": 7,
 '"small shark"': 7,
 '': 7,
 "Tiger shark, 10'": 7,
 "6' to 8' shark": 7,
 "Tiger shark, 3 m [10']": 7,
 'Sandtiger shark': 7,
 "Bull shark, 6'": 7,
 "2.5 m [8.25'] white shark": 7,
 'Lemon shark': 7,
 "White shark, 3 m [10']": 6,
 '2.5 m shark': 6,
 'Hammerhead shark': 6,
 "9' shark": 6,
 "5' to 6' shark": 6,
 'Spinner shark': 6,
 'White shark, 3.5 m': 6,
 "Tiger shark, 14'": 6,
 "8' shark": 6,
 "4 m to 5 m [13' to 16.5'] white shark": 6,
 "4.6 m [15'] shark": 5,
 'Possibly a juvenile blacktip or spinner shark': 5,
 'Angel shark': 5,
 'Blacktip or spinner shark': 5,
 "Tiger shark, 3.7 m [12']": 5,
 '"sand shark"': 5,
 "3 m [10'] bull shark": 5,
 'Oceanic whitetip shark': 5,
 "4.3 m [14'] shark": 5,
 "2' shark": 5,
 "White shark, 2.4 m [8']": 5,
 "Tiger shark, 12'": 5,
 'Basking shark': 5,
 "1.8 m [6'] blacktip shark": 5,
 "Tiger shark, 10' to 12'": 5,
 'White shark, 2.5 m': 5,
 'small shark': 5,
 "1.8 m to 2.4 m [6' to 8'] shark": 5,
 "Bull shark, 4' to 5'": 5,
 "White shark, 3.7 m [12']": 5,
 "4 m [13'] shark": 5,
 "5 m to 6 m [16.5' to 20'] white shark": 5,
 'White shark, 3 m': 5,
 "5.5 m [18'] white shark": 5,
 "Tiger shark, 1.8 m [6']": 5,
 '1.8 m shark': 5,
 'Tiger shark?': 5,
 'White shark, 2.5m': 4,
 'blacktip or spinner shark': 4,
 "2 m [6.75'] shark": 4,
 'Galapagos shark': 4,
 "Nurse shark, 1.5 m [5']": 4,
 "White shark, 5.5 m [18']": 4,
 "Bull shark, 5'": 4,
 '2m shark': 4,
 'White shark, 4m': 4,
 'White shark, 5m': 4,
 "0.9 m [3'] shark": 4,
 "2.7 m [9'] shark": 4,
 'Grey reef shark': 4,
 "Tiger shark, 1.8 m to 2.4 m [6' to 8']": 4,
 'Shark involvement suspected but not confirmed': 4,
 "White shark, 8' to 10'": 4,
 '4 m shark': 4,
 "1.5 m to 1.8 m [5' to 6'] shark": 4,
 'Bull shark, 2m': 4,
 "4' to 6' shark": 4,
 'Thought to involve a white shark': 4,
 "14' shark": 4,
 "Tiger shark, 2.4 m [8']": 4,
 "Tiger shark, 6'": 3,
 "White shark, 12'": 3,
 "2.4 m [8']  shark": 3,
 '2 m to 3 m shark': 3,
 "15' shark": 3,
 "Bull shark, 8'": 3,
 'Sevengill shark': 3,
 'reef shark?': 3,
 "Tiger shark, 5 m [16.5']": 3,
 "Lemon shark, 4'": 3,
 'White shark, 3m to 4m': 3,
 'White shark, 2m': 3,
 '5 m shark': 3,
 "White shark, 4 m to 5 m [13' to 16.5']": 3,
 "White shark, 5.5 m to 6 m [18' to 20']": 3,
 "White shark, 4.9 m [16']": 3,
 '2 m [6\'9"] shark': 3,
 "White shark, 15'": 3,
 'Bronze whaler shark?': 3,
 "3.5' to 4' shark": 3,
 "Grey nurse shark, 1.8 m [6']": 3,
 '"A small shark"': 3,
 'White shark, 3.5m': 3,
 "3' to 5' shark": 3,
 "Blacktip shark, 4'": 3,
 "Tiger shark, 2.4 m to 3 m [8' to 10']": 3,
 'bull shark': 3,
 "White shark, 10' to 12'": 3,
 'Shark involvement questionable': 3,
 'Bull or tiger shark': 3,
 '4 m white shark': 3,
 "White shark, 10'": 3,
 "5.5 m [18'] shark": 3,
 "Bronze whaler shark, 6'": 3,
 '3.5 m white shark': 3,
 'Tiger shark, 3 m': 3,
 '4.5 m white shark': 3,
 'Wobbegong shark?': 3,
 'Caribbean reef shark': 3,
 "Bronze whaler shark, 2.5 m [8.25']": 3,
 'Unidentified': 3,
 "Bronze whaler shark, 3 m [10']": 3,
 'White shark, 4 m': 3,
 'juvenile shark': 3,
 'Tiger shark, 3m': 3,
 "3 m to 4 m [10' to 13'] white shark": 3,
 '6 m shark': 3,
 'Shark involvement doubtful': 2,
 "Sandtiger shark, 2.1 m [7']": 2,
 'Nurse shark, 58", 34-lb': 2,
 'Tiger shark, 2m': 2,
 '2 to 2.5 m shark': 2,
 "Wobbegong shark, 1.2 m [4']": 2,
 "10' to 12' shark": 2,
 "Said to involve a 7 m [23'] white shark": 2,
 "Mako shark, 2 m [6.75']": 2,
 "2 m [6.75'] white shark": 2,
 'White shark, 15\'2"': 2,
 "7' to 8' shark": 2,
 'White shark, 3.6 m [11\'9"]': 2,
 "Raggedtooth shark, 1.2 m [4']": 2,
 "White shark, 5 m to 6 m [16.5' to 20']": 2,
 "Mako shark, 1.8 m [6']": 2,
 'small sharks': 2,
 'small blacktip shark?': 2,
 'White shark, 5 m': 2,
 'Bull shark, 3m': 2,
 "Tiger shark, 8' to 9'": 2,
 "White shark, 2.5 m [8.25']": 2,
 'Possibly a bull shark': 2,
 'Dusky shark, 1 m': 2,
 "Tiger shark, 1.5 m [5']": 2,
 "a small shark'": 2,
 'Questionable Incident': 2,
 "1.2 m [4'] bull shark": 2,
 "2 m to 2.5 m [6.75'  to 8.25'] shark": 2,
 "1.8 m [6'], 180-lb shark": 2,
 "Nurse shark, 1.2 m [4']": 2,
 "Grey nurse shark, 2.4 m [8']": 2,
 'Oceanic whitetip shark, 2.5m, female': 2,
 '1.8 m blacktip "reef" shark': 2,
 'A pack of 6 sharks': 2,
 "Nurse shark, 2.5'": 2,
 "Grey nurse shark, 1.5 m [5']": 2,
 'Tiger shark, 4 m': 2,
 'Possibly a bull shark or tiger shark': 2,
 "Raggedtooth shark, 1.5 m [5']": 2,
 "1.2 m [4'] blacktip shark": 2,
 "6 m [20'] shark": 2,
 "White shark, 4.3 m [14']": 2,
 'Bronze whaler shark, 1.5 m': 2,
 "Bull shark, 1.8 m to 2.1 m [6' to 7']": 2,
 "White shark, 2.7 m [9']": 2,
 'Possibly a spinner shark': 2,
 "Tiger shark, 2.4 m to 2.7 m [8' to 9']": 2,
 "White shark, 2.4 m to 3 m [8' to 10']": 2,
 "3'  shark": 2,
 "Wobbegong shark, 1.8 m [6']": 2,
 'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.': 2,
 "Mako shark, 3 m [10']": 2,
 'A \x93small\x94 shark': 2,
 "0.9 m to 1.2 m [3' to 4'] shark": 2,
 '3 m white shark': 2,
 'White shark named \x93Spotty\x94': 2,
 "Grey nurse shark, 10'": 2,
 "Wobbegong shark, 4'": 2,
 "White shark, 12' to 15'": 2,
 'White shark, according to witnesses': 2,
 'Juvenile dusky shark': 2,
 '20 to 30kg shark': 2,
 "3.5 m [11.5'] white shark": 2,
 'Thought to involve a Zambesi shark': 2,
 "1.2 m  [4'] shark": 2,
 "Sharks averaged 1.8 m [6'] in length": 2,
 "Tiger shark, 1.5 m to 1.8 m [5' to 6']": 2,
 "Bull shark, 10'": 2,
 'Possibly a bronze whaler shark': 2,
 '200-lb shark': 2,
 'Bull shark?': 2,
 'Bronze whaler shark, 2 m': 2,
 "White shark, 5 m to 6 m [16.5 to 20']": 2,
 'Sand shark': 2,
 '18" to 24" shark': 2,
 "White shark, 15' to 16'": 2,
 'Bull shark, 2.5 m': 2,
 "Blacktip shark, 4' to 5'": 2,
 "Blacktip shark, 5' to 6'": 2,
 "White shark, 11' to 12'": 2,
 'Thought to involve a tiger shark': 2,
 "5.5 m to 6 m [18' to 20']  white shark": 2,
 "3.5 m [11.5'] shark": 2,
 'Bronze whaler shark, 1.5m': 2,
 "White shark, 7'": 2,
 'Shark involvement not cofirmed': 2,
 "2.5 m [8.25'] shark": 2,
 'small nurse shark': 2,
 '3.6 m [11\'9"] white shark': 2,
 'Raggedtooth shark, 2m': 2,
 'White shark, 6 m': 2,
 'Raggedtooth shark, 1 m': 2,
 'Blacktip Reef shark': 2,
 'Tiger shark, 3.5 m': 2,
 "4.5' shark": 2,
 "12' to 14' shark": 2,
 "8' to 10' shark": 2,
 'White shark (tooth fragment recovered)': 2,
 '"sand" shark': 2,
 'reef shark': 2,
 "Mako shark, 4.3 m [14']": 2,
 "Tiger shark, 13'": 2,
 'Tiger shark, 1.5 m': 2,
 'Bronze whaler': 2,
 "Tiger shark, 4.3 m [14']": 2,
 '3.5 m shark': 2,
 'Shark involvement probable': 2,
 '2 m hammerhead': 2,
 "1.8 m to 2.4 m [6' to 8'] hammerhead shark": 2,
 'Tiger shark, female': 2,
 "13' shark": 2,
 'White shark, 4.5 m': 2,
 "Thought to involve a 2.6 m [8.5'] white shark": 2,
 "1.5 m [5'] Caribbean reef shark": 2,
 "1.5 m to 2 m [5' to 6.75'] shark": 2,
 'White shark, 3 to 3.5m': 2,
 'A small shark': 2,
 "Tiger shark, 2.4 m 3.4 m [8' to 11']": 2,
 "Raggedtooth shark, 2.5 m [8.25']": 2,
 'Grey nurse shark?': 2,
 'Bull shark, 3.5 m': 2,
 "Lemon shark, 9'": 2,
 '"a dog shark"': 2,
 "Grey nurse shark, 4'": 2,
 "4 m to 5 m [13' to 16.5']  white shark": 2,
 "Mako shark, 1.5 m [5']": 2,
 'Grey reef shark, 2 m': 2,
 "Bull shark, 7'": 2,
 "5.5 m to 6 m [18' to 20'] white shark": 2,
 "0.9 m to 1.5 m [3' to 5'] shark": 2,
 'Thought to involve a bull shark': 2,
 'Salmon shark': 2,
 "1.8 m to 2.1 m [6' to 7'] shark": 2,
 'Possibly a sand shark': 2,
 'Blacktip reef shark': 2,
 "3 m to 5 m [10' to 16.5'] white shark": 2,
 '1m shark': 2,
 '7-gill shark': 2,
 'Grey nurse shark, 3m': 2,
 "Tiger shark, 15'": 2,
 'Possibly C. leucas': 2,
 'White shark, 3m': 2,
 'Shark involvement prior to death suspected but not confirmed': 2,
 'small blacktip shark': 2,
 "Raggedtooth shark, 2 m [6.75']": 1,
 'Bronze whaler shark, 3.5 m': 1,
 "13', 400-lb thresher shark": 1,
 'Copper shark': 1,
 "Wobbegong shark, 5'": 1,
 "2.7 m  [9'] shark": 1,
 "1.5 m to 1.8 m [5' to 6'] Zambesi shark": 1,
 '6 m  white shark': 1,
 ">2.4 m [8'] white shark": 1,
 '1.8 m to 2 m [6\' to 6\'9"] shark': 1,
 "Raggedtooth shark, 50-kg [110-lb], 2 m [6.75'] gaffed": 1,
 '>1 m shark': 1,
 "Tooth fragment of a white shark recovered. Authorities believed shark was 6 m [20']  total length": 1,
 '1.6 m shark': 1,
 "Lemon shark, 1.8 m to 2.4 m [6' to 8'], tooth fragment recovered": 1,
 "76 cm [2.5'] carpet shark": 1,
 "White shark, 2.5 m [8.25'], an immature female, previously injured": 1,
 '"gray shark"': 1,
 "White shark, 2.3 m [7.5'], tooth fragment recovered": 1,
 "5' blue shark": 1,
 'Nurse shark, 106 cm, 28-lb, male': 1,
 'Nurse shark, 1 m': 1,
 'White shark or thresher shark': 1,
 'Possibly a small hammerhead shark': 1,
 "2.1 m [7'] sandtiger shark": 1,
 '1.8 m silky shark': 1,
 '270 kg shark': 1,
 "6', 100-lb shark": 1,
 "Bronze whaler shark, 2.1 m [7'], a tooth was embedded in the speargun": 1,
 "Mako shark, 1.9 m [6.5']": 1,
 "Thought to involve a Tiger shark,  3.7 m [12']": 1,
 "2 m to 2.5 m [6.75'  to 8.25'] sixgill or sevengill shark": 1,
 "1.5 m to 2.1 m  [5' to 7'] shark": 1,
 'Lemon shark or sandtiger shark': 1,
 "Local authorities speculated that the water was too cold for sharks, but a 2.1 m [7'], 200-lb pregnant sandbar shark was caught next day": 1,
 "1.2 m [4'] hammerhead shark": 1,
 "Possibly a  1.8 m [6'] Zambezi shark": 1,
 'Believed white shark and other smaller species of sharks involved.': 1,
 '5.2 to 5.8 m white shark': 1,
 "Alleged to involve a White shark, 7.6 m [25']": 1,
 "1.8 m [6'] carpet shark": 1,
 ">2.5 m [8.25'] white shark": 1,
 'Raggedtooth shark, 1.96 m, 140-kg': 1,
 "1.8 to 2.4 m [6' to 8'] shark": 1,
 'white shark': 1,
 ">3.4 m [11'] white shark": 1,
 "1.7 m [5.5'] shark": 1,
 'Sand shark?': 1,
 '2.2 m shark': 1,
 'Juvenile dusky or blacktip shark': 1,
 '2 m to 2.5 m shark': 1,
 "White shark, 3 m to 3.7 m [10' to 12']": 1,
 "2.4 m to 3 m [8' to 10'] white shark": 1,
 '2.8 m [9\'3"] white shark': 1,
 "16' white shark": 1,
 "Tiger shark, 4 m [13']": 1,
 "1.5 m [5'] hammerhead shark": 1,
 "3 m [10'] gaffed shark": 1,
 "4' to 8' shark": 1,
 '5 m to 7 m white shark': 1,
 'Tiger shark, 3.5 m, 250-lb female': 1,
 "1.8 m [6'] sandtiger shark": 1,
 "White shark, 1.5 m [5'] k": 1,
 '1 m hammerhead shark': 1,
 "1.8 m [6'] white shark": 1,
 '2 m [6\'9"] Zambesi shark': 1,
 'C. maculpinnis or C. limbatus': 1,
 "1.8 m to 2.1 m [6' to 7'] spinner or blacktip shark": 1,
 'Raggedtooth shark, 2 m': 1,
 "Tiger shark, 2.1 m [7']": 1,
 "1.5 m to 1.8m [5' to 6'] shark": 1,
 'Bronze whaler shark, 2 m to 3 m': 1,
 '2 sharks involved': 1,
 '4.3 m shark': 1,
 '300-kg [662-lb] shark': 1,
 "1.5 m [5'] blacktip shark": 1,
 'Lemon shark, 0.5 m': 1,
 'Tiger shark, tooth fragment recovered': 1,
 "1.8 m [6'], 136-kg [300-lb] shark": 1,
 "4.9 m [16'] whaler": 1,
 "1.2 m to 1.5 m [4' to 5'] bull, sandbar or dusky shark": 1,
 'White shark, 2.7 m [9\'1"], 750-lb': 1,
 '5.7 m white shark': 1,
 "3.5 m [11.5']  white shark": 1,
 '40 to 50 sharks attacked survivors in the water': 1,
 '1.5 m copper shark': 1,
 "Mako shark, 3 m [10'], 200-kg [441-lb]": 1,
 'Raggedtooth shark, 2 m [6\'9"]': 1,
 'Zambezi shark (tooth fragments recovered)': 1,
 '1 m "grey-colored" shark': 1,
 '30-kg [66-lb] shark': 1,
 '"sandshark"': 1,
 '"Blue whaler" (Galeolamna)': 1,
 '3.5 m white shark, tooth fragments recovered': 1,
 "White shark, 3 m to 4 m [10' to 13']": 1,
 "3.5' hammerhead shark": 1,
 'White shark, 4 m to 5 m': 1,
 "Shortfin mako shark, 2.3 m [7.5']": 1,
 'White shark, 4.8 m': 1,
 "3 m to 4 m [10' to 13'] shark": 1,
 "2.1 m [7'] lemon shark or bull shark": 1,
 "small sharks'": 1,
 "6' to 8' bull shark": 1,
 '.5 m shark': 1,
 "3.7 m [12'] sharks": 1,
 'Raggedtooth shark, >1 m': 1,
 "12' white shark": 1,
 "7' to 8' bull shark": 1,
 "White shark, 3 m [10'] k": 1,
 "1.5 m to 1.8 m [5' to 6']  blacktip shark": 1,
 '1.5 m white-tipped reef shark': 1,
 'Mako shark, 2.3 m, 150-kg': 1,
 "1.2 m to 1.8 m [4' to 6'] shark observed in area": 1,
 "1.5 m [5'] dusky shark": 1,
 'Bull shark, 8': 1,
 'Copper shark, 50-kg [110-b]': 1,
 "6' blacktip shark": 1,
 "7 m [23'] white shark": 1,
 "2.4 m [8'] white shark, species identity confirmed by tooth fragment": 1,
 "White shark, 3.5 m [11.5'], species identity confirmed by tooth fragment": 1,
 'Mako shark, 180-kg [397-lb]': 1,
 'Whale shark': 1,
 "5.5 m [18''] white shark": 1,
 '1.2 m to 1.5 m [4\' to 5\'] "reef shark"': 1,
 'Lemon shark, 2 m [6\'9"]': 1,
 "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard": 1,
 'Reported as a shark attack, the story was a hoax': 1,
 "4.5 m to 5.5 m [14.7' to 18'] white shark": 1,
 'Shark involvement unconfirmed': 1,
 "Raggedtooth shark, 1.5 m [5'] (tooth fragment recovered)": 1,
 'Questionable incident; reported as shark attack but thought to involve a pinniped instead': 1,
 'Believed to involve a 2.8 m [9\'3"] white shark': 1,
 "White shark, 5.8 m [19']": 1,
 'White shark, 5m to 6m': 1,
 "2.4 m [8'] whaler shark": 1,
 "1.8 m [6'] Zambezi shark": 1,
 'White shark, 600-kg [1323-lb]': 1,
 "1.5 m [5']  shark": 1,
 "Carpet shark, 10'": 1,
 "White shark, > 3 m [10']": 1,
 "3.5 m [11.5'], 510-kg [1125-lb] hooked & shot white shark": 1,
 "Bronze whaler shark, 10'": 1,
 'a small hammerhead shark': 1,
 ">2.4 m [8'] shark": 1,
 "White shark, 4.3 m 4.9 m [14' to 16']": 1,
 'Thought to involve a blacktip shark': 1,
 'Considered a "Doubtful" incident': 1,
 'White shark, identified by tooth fragments in surfboard': 1,
 "2 scalloped hammerhead sharks, 1.5 m & 1.8 m [5' & 6']": 1,
 'Hammerhead shark?+O2356': 1,
 '90-kg "blackfin" shark': 1,
 "White shark, 4.3 m [14'], (tooth fragment recovered)": 1,
 "4m [13'] shark": 1,
 'Carpet shark': 1,
 'Blue Shark': 1,
 "1.5 m to 2 m [5' to 6.75'] Caribbean reef shark": 1,
 "3 m to 4 m [10' to 13']  white shark": 1,
 "2.7 m [9'] silky shark": 1,
 'Shark involvement prior to death remains unconfirmed': 1,
 'Mako shark (tooth fragments recovered)': 1,
 "Bronze whaler shark, 1.8 m [6']": 1,
 'Blue shark, 2m': 1,
 'Shark involvement not confirmed; officials considered barracua': 1,
 "8' blue shark": 1,
 'Raggedtooth shark, 2 m [6\'9"], 5-year-old, captive female': 1,
 'Oceanic whitetip shark x 2': 1,
 '3.6 m  porbeagle shark': 1,
 "White shark, 6 m [20']": 1,
 "White shark, 4.4 m to 5 m [14.5' to 16.5']": 1,
 'Raggedtooth shark, 56-kg [123-lb]': 1,
 '2.1 m [7\'] shark with "a very flat head\x94 that had followed the boat for 3 days': 1,
 '1.5 m grey reef shark': 1,
 "White shark, 3 m [10']rk": 1,
 '1.5 m to 2 m shark': 1,
 "Grey nurse shark, 11'": 1,
 "White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board": 1,
 'Said to involve a tiger shark or a hammerhead shark': 1,
 "7.5' shark": 1,
 "1.5 to 2 m [5' to 6.75'] shark": 1,
 "1.2 m to 1.5 m [4' to 5'] hammerhead shark": 1,
 'White shark according to tooth pattern and witnesses': 1,
 "White shark, 4.6 m [15']": 1,
 "1.8 m [6'] shark, species identity questionable": 1,
 '1.8 to 2 m C. albimarginatus': 1,
 '4.5 m to 5.5m white shark': 1,
 '4.5 m to 5 m white shark': 1,
 'small blue shark': 1,
 "2.4 m [8'] white shark": 1,
 "Six Zambesi sharks seen to 1.5 m [5'] in length": 1,
 'Wobbegong': 1,
 '>1.6 m shark': 1,
 "Questionable incident, said to involve a 6' shark": 1,
 'White shark, 160-kg [353-lb], identity confirmed by tooth pattern': 1,
 'White shark, species identity confirmed by tooth pattern': 1,
 "Mako shark (aka bonito shark) 1.2 m [4']": 1,
 '100-lb shark': 1,
 'Reportedly: oceanic whitetip sharks, blue sharks, tiger sharks & bull sharks': 1,
 "Bull shark, 4 m [13']": 1,
 'Porbeagle shark': 1,
 'Tiger shark & others': 1,
 'White shark, 4.5 m  to 6 m [14\'9" to 20\'] according to witnesses': 1,
 "1.8 m to 2.4 m [6' to 8'] sharks, most were oceanic whitetip sharks": 1,
 'White shark, 3.9 m, 550 kg, male': 1,
 'White shark, 2 m [6\'9"]  (Tooth fragment recovered from victim\'s shoulder & identified by J.T. Nicholls)': 1,
 "1.8 m [6'] blacktip shark or spinner shark": 1,
 'Tiger shark, 4.5 to 5.5 m [14\'9" to 18\'], 2000-lb': 1,
 "2.6 m [8.5'] shark landed 2 hours later": 1,
 "Blue pointer, 16'": 1,
 'whaler shark': 1,
 "Tiger shark, 9' to 10'": 1,
 "Thought to involve a 12' white shark": 1,
 "6 m [20']  shark": 1,
 "Grey nurse shark, 8'": 1,
 '3\' "blue nosed" shark': 1,
 '2 days later a 600-lb shark was caught 100 yards from the site': 1,
 "Whaler shark, 4 m [13']": 1,
 "2.6 m [8.5'] shark": 1,
 "Tiger shark, 4.3 m [14'], 3 tooth fragments retrieved from his wounds": 1,
 'Tiger shark,  3.6 m [11\'9"], 850-kg [1874-lb] female, contained Girvan\'s remains': 1,
 "Tiger shark, 3'": 1,
 'Thought to involve bull sharks': 1,
 '"a large shark"': 1,
 "18' shark": 1,
 "Nurse shark, 2.1 m [7']": 1,
 'White shark, 4.2 m [13\'9"]': 1,
 '4.5  m [14\'9"] shark': 1,
 'Large tiger shark seen in the vicinity the following morning': 1,
 "Blacktip shark, 2 m [6.75']": 1,
 "White shark, 1.8 m [6']": 1,
 "Bull shark, 2.7 m [9'] was captured & dragged on the sand where tissue taken from Eggink was found in its gut. Species identification  was made by S. Springer based on 4 photographs of the shark.": 1,
 'White shark, 15\'3", 2,333-lb': 1,
 "Carpet shark, 5'": 1,
 'White shark, 2 m to 4 m [6\'9" to 13\']': 1,
 "Hammerhead shark, 5'": 1,
 ">6.7 m [22']  shark": 1,
 "White shark,4.6 m [15']": 1,
 "White shark, 3.7 m [12'], 500 to 500-kg [1,200 lb], identified by W. C. Shroeder based on tooth fragment ebedded in gunwale": 1,
 "3 m [10'] shark seen in vicinity": 1,
 "Hammerhead shark, 1.5 m [5']": 1,
 '80-lb sand shark': 1,
 "Said to involve a >4 m [13'] shark": 1,
 'White shark tooth fragment recovered from ankle & identified by Dr. W. I. Follett': 1,
 "2.4 m [8'] shark, possibly a dusky shark": 1,
 '136-kg [300-lb] shark': 1,
 "Nurse shark, 10'": 1,
 "Wobbegong shark, 6'": 1,
 'Bonita sharkk, 200-lb': 1,
 '1.5 m, 45-kg shark': 1,
 'Most likely, a small shark': 1,
 "Said to be 6.4 m [21'] shark": 1,
 "His hand was found in a 2.4 m [8'] tiger shark caught 1/5/1949": 1,
 '3.3 m [10\'9"] shark': 1,
 "Whaler shark, 2.7 m [9'], 350- to 450-lb  identified by G.P. Whitley": 1,
 "White shark, 3.7 m [12']  according to witnesses": 1,
 'White shark, 3m, seen in area and hooked 3 days later': 1,
 'small carpet shark': 1,
 "1.5 m to 1.8 m [5' to 6'] \x93spear-eye\x94 shark": 1,
 '2.13 m shark': 1,
 'unknown, possibly a white shark': 1,
 "17' white shark": 1,
 '1,100-lb shark': 1,
 "0.9 m [3']  shark": 1,
 "Shovelnose shark, 6 m [20']": 1,
 "20' shark": 1,
 '"whiptail shark" (thresher shark?)': 1,
 '15* to 24" dog shark': 1,
 "Comrades saw shark's tail appear about 5' away": 1,
 "2.7 m [9'] shark later captured by Mitchell-Hedges": 1,
 "White shark, 12', identity confirmed by tooth fragment, witness and photograph of captured shark": 1,

#### We are going to try to group most common species

In [98]:
top_sharks = ["Tiger Shark", "Bull Shark", "Wobbegong Shark", "Blacktip Shark", "Raggedtooth Shark", "Blue Shark", "Hammerhead Shark", "Bronze whaler", "Lemon Shark", "Nurse Shark", "Mako Shark", "White Shark"]

In [99]:
# /.*?[T|t]iger.*\w?

In [100]:
# Tiger Shark
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[T|t]iger.*\w?", "Tiger Shark")
# Bull Shark
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[B|b]ull.*\w?", "Bull Shark")
# Wobbegong Shark
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[W|w]obbegong.*\w?", "Wobbegong Shark")
# Blacktip Shark
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[B|b]lacktip.*\w?", "Blacktip Shark")
# Raggedtooth Shark
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[R|r]aggedtooth.*\w?", "Raggedtooth Shark")
# Blue Shark
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[B|b]lue.*\w?", "Blue Shark")
# Hammerhead
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[H|h]ammerhead.*\w?", "Hammerhead Shark")
# Bronze whaler
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[B|b]ronze.*\w?", "Bronze whaler")
# Lemon Shark
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[L|l]emon.*\w?", "Lemon Shark")
# Nurse Shark
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[N|n]urse.*\w?", "Nurse Shark")
# Mako Shark
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[M|m]ako.*\w?", "Mako Shark")
# White Shark
sharks_attacks6["species"] = sharks_attacks6["species"].str.replace(".*?[W|w]hite.*\w?", "White Shark")

#### We've got fewer categories  and everything that is not a nan value will put it the "Other" catergoy

In [101]:
sharks_attacks6.loc[~sharks_attacks6["species"].isin(top_sharks) & sharks_attacks6["species"].notnull(), "species"] = "Other"

In [102]:
shark_count_species2 = sharks_attacks6[["species"]]

In [103]:
dict(shark_count_species2.species.value_counts())

{'Other': 1502,
 'White Shark': 604,
 'Tiger Shark': 250,
 'Bull Shark': 157,
 'Blacktip Shark': 96,
 'Nurse Shark': 86,
 'Bronze whaler': 67,
 'Blue Shark': 48,
 'Mako Shark': 46,
 'Wobbegong Shark': 43,
 'Raggedtooth Shark': 41,
 'Hammerhead Shark': 40,
 'Lemon Shark': 30}

#### For all the nan values with change its value to "Unknown"

In [104]:
sharks_attacks6.fillna(value={"species": "Unknown"}, inplace=True)

In [105]:
dict(shark_count_species2.species.value_counts())

{'Other': 1502,
 'White Shark': 604,
 'Tiger Shark': 250,
 'Bull Shark': 157,
 'Blacktip Shark': 96,
 'Nurse Shark': 86,
 'Bronze whaler': 67,
 'Blue Shark': 48,
 'Mako Shark': 46,
 'Wobbegong Shark': 43,
 'Raggedtooth Shark': 41,
 'Hammerhead Shark': 40,
 'Lemon Shark': 30}

In [106]:
sharks_attacks6[sharks_attacks6["species"].isnull()]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, new_date, month_year]
Index: []

In [107]:
# Cast types to save memory.
sharks_attacks6["species"] = sharks_attacks6["species"].astype("category")

In [108]:
# Checkpoint
sharks_attacks7 = sharks_attacks6

In [109]:
sharks_attacks7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4967 entries, 0 to 5561
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  4967 non-null   object
 1   date         4967 non-null   object
 2   year         4967 non-null   int64
 3   type         4967 non-null   category
 4   country      4954 non-null   object
 5   area         4733 non-null   object
 6   location     4697 non-null   object
 7   activity     4630 non-null   object
 8   name         4839 non-null   object
 9   sex          4967 non-null   category
 10  age          3169 non-null   float64
 11  injury       4953 non-null   object
 12  fatal_(y/n)  4967 non-null   category
 13  time         2779 non-null   object
 14  species      4967 non-null   category
 15  new_date     4967 non-null   datetime64[ns]
 16  month_year   4967 non-null   period[M]
dtypes: category(4), datetime64[ns](1), float64(1), int64(1), object(9), period[M](1)
memory usage: 563.9+ KB

## 4.9 Column activity

#### Checking how many register we have of each category

In [110]:
sharks_attacks7.activity.unique()

array(['Paddling', 'Standing', 'Surfing', ...,
       'Dangling feet in the water', 'Hunting seashells',
       'Standing, gathering oysters'], dtype=object)

In [111]:
shark_count_activity = sharks_attacks7[["activity"]]
shark_count_activity.groupby(["activity"])["activity"].count()
dict(shark_count_activity.activity.value_counts())

{'Surfing': 944,
 'Swimming': 746,
 'Fishing': 346,
 'Spearfishing': 273,
 'Wading': 136,
 'Standing': 87,
 'Diving': 86,
 'Snorkeling': 83,
 'Scuba diving': 70,
 'Bathing': 66,
 'Body boarding': 62,
 'Body surfing': 46,
 'Kayaking': 35,
 'Treading water': 29,
 'Boogie boarding': 27,
 'Free diving': 26,
 'Pearl diving': 20,
 'Windsurfing': 18,
 'Surf skiing': 18,
 'Walking': 16,
 'Boogie Boarding': 16,
 'Shark fishing': 13,
 'Floating': 13,
 'Rowing': 12,
 'Kayak Fishing': 11,
 'Surf fishing': 11,
 'Scuba Diving': 10,
 'Surf-skiing': 10,
 'Canoeing': 10,
 'Fell overboard': 9,
 'Fishing for sharks': 9,
 'Sitting on surfboard': 9,
 'Playing': 8,
 'Paddle boarding': 8,
 'Freediving': 8,
 'Diving for trochus': 8,
 'Surfing (sitting on his board)': 7,
 'Free diving for abalone': 7,
 'Diving for abalone': 7,
 'Sea disaster': 7,
 'Stand-Up Paddleboarding': 6,
 'Kite Surfing': 6,
 'Splashing': 5,
 'Freedom swimming': 5,
 'Skindiving': 5,
 'Sailing': 5,
 'Spearfishing on Scuba': 5,
 'Kite surfing': 5,
 'Sea Disaster': 5,
 'Kayaking / Fishing': 5,
 'Jumped into the water': 4,
 'Wade Fishing': 4,
 'Free diving & spearfishing': 4,
 'Fishing for mackerel': 4,
 'Floating on his back': 4,
 'Body-boarding': 4,
 'Lifesaving drill': 4,
 'Jumping': 4,
 'Scuba diving (but on surface)': 4,
 'Freedom Swimming': 4,
 'Diving for beche-de-mer': 4,
 'Tagging sharks': 4,
 'Spearfishing / Scuba diving (at surface)': 3,
 'Floating on a raft': 3,
 'Boating': 3,
 'SCUBA diving': 3,
 'Skin diving': 3,
 'Shark watching': 3,
 'Paddling on surfboard': 3,
 'Competing in the Woodvale Atlantic Rowing Race': 3,
 'Spearfishing / free diving': 3,
 '.': 3,
 'Shell diving': 3,
 'Scuba diving (submerged)': 3,
 'Unknown': 3,
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days': 3,
 'Shipwreck': 3,
 'Feeding sharks': 3,
 'Spearing fish': 3,
 'Playing in the surf': 3,
 'Feeding fish': 3,
 'Crayfishing': 3,
 'Walking out of the water after surfing': 3,
 'Sculling': 3,
 'Seine netting': 3,
 'Scuba diving & spearfishing': 3,
 'Kayak fishing': 3,
 'Boat': 3,
 'Hookah diving for abalone': 3,
 'Spearfishing (free diving)': 3,
 'Wade fishing': 3,
 'SUP': 3,
 'Crabbing': 3,
 'Scuba diving for abalone': 3,
 'Escaping from Alacatraz': 3,
 'Surfing, paddling seawards': 3,
 'Paddleskiing': 3,
 'Body Boarding': 3,
 'Spearfishing using Scuba': 2,
 'Free diving, Spearfishing': 2,
 'Swimming ashore from capsized boat': 2,
 'Fishing for snapper': 2,
 'Air Disaster': 2,
 'Murder': 2,
 'Standing / Surfing': 2,
 'Launching rowboat through the surf': 2,
 'Air disaster': 2,
 'Swimming or surfing': 2,
 'Fishing boat': 2,
 'Floating in inner tube': 2,
 'Free-diving': 2,
 'Clamming': 2,
 'Paddling': 2,
 'Spearfishing Competition': 2,
 'Surfing (lying prone on his board)': 2,
 'Hookah diving for sea urchins': 2,
 'Finning the shark that bit him': 2,
 'Surfing, collided with shark': 2,
 'Free diving for trochus': 2,
 'Swimming alongside NOAA research vessel Discoverer': 2,
 'Fishing for cod': 2,
 'S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water': 2,
 'Suicide': 2,
 'Fishing on a boat': 2,
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy': 2,
 'Body surfing / treading water': 2,
 'HMAS Parramatta torpedoed & sunk by the U-559': 2,
 'Cruising': 2,
 'Five men on makeshift raft after their 10 m fishing boat  capsized and sank in rough seas. Survivors rescued after  7.5 hours in the water': 2,
 'Dived for a coin': 2,
 'Swimming from the New Venture': 2,
 '"Flying Tiger" transport plane went down with 5 men onboard': 2,
 'Fishing for bluefish': 2,
 'Fishing for whiting': 2,
 'Diving?': 2,
 'fishing boat exploded & sank': 2,
 'Diving from canoe': 2,
 'Spearfishing / Scuba diving': 2,
 'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.': 2,
 'Swimming, ducking for shells in water 0.9 m deep': 2,
 'Swimming near jetty': 2,
 'Fishing for tuna': 2,
 'Fishing for prawns': 2,
 'Kite boarding': 2,
 'Diving for lobsters': 2,
 'Free diving / Spearfishing': 2,
 'Free diving / spearfishing': 2,
 'Ocean racing': 2,
 'Boat swamped': 2,
 'Hard hat diving': 2,
 'Swimming / snorkeling': 2,
 'Diving for crayfish': 2,
 'Kiteboarding': 2,
 'Spearfishing / Free diving': 2,
 'Fell into the water': 2,
 'Jet skiing': 2,
 'Transatlantic Rowing': 2,
 'Sitting in the water': 2,
 'Diving for trochus shell': 2,
 'Playing in the water': 2,
 'Swimming / Wading': 2,
 'Teasing a shark': 2,
 'Fishing for squid': 2,
 'Diving around anchored liner': 2,
 'Cleaning fish': 2,
 'Standing in knee-deep water': 2,
 'Fishing from surf ski': 2,
 'Diving into water': 2,
 'Kite Boarding': 2,
 'Spearfishing, carrying fish on spear': 1,
 'Wading, fishing for flounder': 1,
 'Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea': 1,
 'Gathering shells': 1,
 'Swimming with other crew near wharf': 1,
 'Swimming from fishing boat setting nets': 1,
 'Surfing, pushing board ashore': 1,
 'Spearfishing, carrying fish on belt': 1,
 'Fishing for trout': 1,
 'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion': 1,
 'Boat exploded': 1,
 'Swimming on surface': 1,
 'Fishing, setting nets': 1,
 'Fishing, standing in water washing fish': 1,
 'Fishing for white sharks': 1,
 'Fishing, hauling in a 5-lb snapper': 1,
 "Fishing with hand net in 2' of water": 1,
 'Went to aid of child being menaced by the shark': 1,
 'Spearfishing, speared a small shark': 1,
 'Shipwrecked; adrift on raft for 2 days & 2 nights': 1,
 'cargo ship Southern Isle sank at 04h00': 1,
 'Body found on deserted luxury yacht, 38\x92 Christine': 1,
 'Diving (Hookah)': 1,
 'Body surfing & treading water': 1,
 'Helping angler land a shark': 1,
 'Diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water': 1,
 'Pearl diving from lugger Whyalla': 1,
 'Fishing, speared shark upset canoe & man fell in water': 1,
 'Fishing  (trawling)': 1,
 'Spearfishing, hunting crayfish': 1,
 'Tuna fishing, standing on stern platform that was submerged by waves': 1,
 'Closed circuit diving (submerged). Diving to recover jettisoned packets of opium for police': 1,
 'Fishing, two large sharks passed. He speared one and it bit him': 1,
 'Net fishing, picking catch from the net': 1,
 'Fishing trawler Flavio Gioia': 1,
 'Attaching a line at sea': 1,
 'Grabbed shark & threw it on deck': 1,
 'Fishing / cleaning fish, dived into water to retrieve a lost fish': 1,
 'Lying prone on surfboard': 1,
 'Fishing from shore': 1,
 'Crouching in the water': 1,
 'Swimming or wading out  to warn bathers that a shark had been seen': 1,
 'Aircaft exploded': 1,
 'Fishing from market fishboat Sea Spray': 1,
 'Free diving, surveying a pipeline & examing cathodes under jetty': 1,
 'Royal Hawaiian skymaster DC-6B aircraft went down with  58 passenger & crew': 1,
 'Fishing for lobsters': 1,
 'Accidentally dragged overboard from the sampan Holokahana into school of yellowfin tuna': 1,
 'Bitten while cutting shark from net': 1,
 'S2F-1 airplane crashed immediately after carrier take-off': 1,
 'Fishing, slipped on rocks & fell into sea': 1,
 'Swimming near canoe': 1,
 'Fishing for albacore': 1,
 'Bathing in water 0.9 m deep': 1,
 'Lifesaving exhibition': 1,
 'Rolled off raft': 1,
 'On a "shark hunt"': 1,
 'U.S. Airforce crewman reported missing after bailing out of jet': 1,
 'Treading water, waiting for a wave': 1,
 '2 messboys (Jeppsen) & Tony Latona (13) were playing on the afterdeck of the Danish ship Grete Maersk. Jeppsen fell overboard, Latona threw a lifebelt then jumped in to help him. Ship didn\x92t notice they were missing': 1,
 'Air/Sea Disaster involving C-54 Air Force Transport No. 2686 with 37 on board': 1,
 'Dived from inner-tube': 1,
 'Playing in surf with his child  (9)': 1,
 'Leicester abandoned in a hurricane': 1,
 'Swept out to sea while fishing': 1,
 'Finning the shark': 1,
 'Surf fishing in waist-deep water': 1,
 'Bathing or washing': 1,
 'Spearfishing with Scuba gear': 1,
 'Fishing, shark caught in his net': 1,
 'Bringing hooked, harpooned shark onboard boat': 1,
 'Skindiving for abalone (but at surface)': 1,
 'When  a deckhand  jumped overboard, McIver dived after him with a rescue line.': 1,
 "Overcome by CO fumes, fell overboard from 36' fishing cruiser & prop slashed arm": 1,
 'C47 aircraft carrying 5,000 lbs of ice ditched in the sea': 1,
 'Examining netted shark, that had been shot': 1,
 'Fishing, hauling in a set line': 1,
 'A 75-ton  Japanese fishing ship was sunk by  Chinese Nationalist gunboat, shipwrecked men were clinging to debris': 1,
 'Swimming near shore': 1,
 'Fell off surf ski': 1,
 'Fishing, casting in the surf': 1,
 'Spearfishing (but treading water on the surface)': 1,
 'Paddling a surfboat': 1,
 'Speared a grouper, saw shark but it came for him instead of the fish so he fired spear into shark\x92s mouth. Then shark took grouper but unable to swallow because of the spear in its mouth.': 1,
 'Paddling a canoe': 1,
 'Fishing for snappers & cleaning mullet. Put mullet over side of boat to wash it': 1,
 'Jerked overboard while pole fishing for tuna': 1,
 'Swept off deck of S.S.Frontenac enroute from West Indies to US': 1,
 'Spearfishing, shot a sandtiger shark. Cord to spear tangled round his legs & a wave washed him onto a reef.': 1,
 'Swimming along a row of nets': 1,
 'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA': 1,
 'Fishing & spearfishing': 1,
 'Sea Disaster, sinking of the fishing  launch Mavis': 1,
 'Fishing, sitting in stern of small boat, feet dangling in the water': 1,
 '25-foot cabin cruiser Happy Jack sank in heavy seas': 1,
 'Fishing, one of three fishermen swept into the sea by a large wave': 1,
 'Free diving or wading back to shore': 1,
 'Scuba diving, attempting to catch a captive shark': 1,
 'No details': 1,
 'Washing': 1,
 'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas': 1,
 'Dived overboard & was swimming near stern of trawler': 1,
 'Spearfishing, Smith  & Walker touched shark with tip of their guns': 1,
 'Fell into water while attempting to boat a swordfish': 1,
 'Spearfishing with Joe Turner (24). Shark attracted to speared halibut on belt of one diver, tried to bite Ide\x92s speargun & he shot it in the mouth': 1,
 'Spearfishing, speared fish retreated to cave where shark grabbed his arm': 1,
 'Pulling anchor': 1,
 'Spearfishing (but on surface)': 1,
 'Dragging stranded shark ashore': 1,
 'Columbian petrol barge Rio Atrato burned and sank': 1,
 'Chasing shark out of bathing area while riding on a surf-ski': 1,
 'Diving for pearl shell': 1,
 'Fell overboard, prop slashed arm': 1,
 'Lifeboat capsized': 1,
 'Bathing with sister': 1,
 'Crossing the bay at the ford': 1,
 'Working prawn net': 1,
 'Fishing, when line became snagged on rock & he dived into water to free it': 1,
 'Swept out to sea while net fishing': 1,
 'Washed overboard into school of fish': 1,
 'Swimming with motor tube': 1,
 'In deep water about 100 yards from his ship': 1,
 'Surfing, but treading water': 1,
 'Dragging banana seeds through the shallows': 1,
 'Taking boat from California to Florida when it ran aground & he was swimming back to boat': 1,
 'Swimming ashore from fishing boat swamped and sunk by a squall': 1,
 'Fishing boat capsized': 1,
 'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas': 1,
 'Ejected from F3H-2 aircraft': 1,
 'Fishing for rock lobsters': 1,
 'Holding shark on leader & dangling it above the water': 1,
 'Standing in chest-deep water': 1,
 'boat with 46 people on board capsized': 1,
 'Trailing the field in a surf race': 1,
 'National Airlines DC7B enroute from Miami to Los Angeles with 42 or 46 people on board went down in heavy fog': 1,
 'Aircraft crashed into sea': 1,
 'Fishing for tunny': 1,
 'Air disaster: crash of Air France Super Constellation': 1,
 "Swimming at surface through school of feeding 2.5' to 5\x92 sharks": 1,
 'Spearfishing, shot shark, hauled it onto boat': 1,
 'Dived overboard to retrieve dinghy': 1,
 "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore": 1,
 'Swimming 3 miles offshore': 1,
 'Fishing, Struck by another shark when removing shark from line': 1,
 'Gigging for flounder': 1,
 'Fishing in waist-deep water': 1,
 'Pulling hooked salmon to boat': 1,
 'On inflatable raft': 1,
 'R5D aircraft went down with 29 on board': 1,
 'ship M.V. Rizal sank during typhoon': 1,
 'Fishing inside net': 1,
 'Dived from dinghy to retrieve oar in heavy seas': 1,
 'Surfing on air mattress': 1,
 'Cleaning hull of ship': 1,
 'Fishing, lifting shark out of craypot': 1,
 'Swimming near pier': 1,
 'Portuguese Airliner with 9 people aboard went down.': 1,
 'Free diving for crayfish': 1,
 'Fishing from dinghy': 1,
 'Line fishing from Lakotoi, saw shoal of fish, dived overboard, had speared second fish & surfaced for air': 1,
 'Cargo ship Dara sank after collision with another ship during a severe storm': 1,
 'Longling fishing': 1,
 'Air/Sea Disaster': 1,
 'Swimming, using bundles of sticks as raft': 1,
 'Free diving, working on U/W scenes for motion picture': 1,
 'Free diving but treading water at surface': 1,
 'Swimming, attacked at  surf carnival': 1,
 'Fishing for pompano': 1,
 'Checking fish traps, fell into the water': 1,
 'Walking in chest-deep water': 1,
 'Spearfishing & lassoed shark': 1,
 'Collecting dynamited fish': 1,
 'Hunting turtle': 1,
 'Swimming near breakwater': 1,
 'Spearfishing or fishing': 1,
 'Hunting lobsters in 2.4 m of water': 1,
 'Climbing back on ship': 1,
 'Skindiving, fish at belt': 1,
 '"Climbing up to ship after repairing the stern in water"': 1,
 "Spearfishing, holding 5' speared fish": 1,
 'Boat stopped to repair electric pump': 1,
 'Pacific Seafarer of US Navy': 1,
 'Collecting aquarium specimens': 1,
 'Fishing for kob': 1,
 'Swimming underneath house on pilings': 1,
 'Swimming, towing the shark': 1,
 'Paddling in knee-deep water': 1,
 'Swimming with goggles': 1,
 'Pulling raft out to ride to shore': 1,
 'Spearfishing / swimming on surface': 1,
 'Air/Sea Disaster Pan-American Airlines Stratocruiser with 44 people onboard crashed into the sea': 1,
 'Fishing, tossing netted shark onboard': 1,
 'Standing, watching seine netters': 1,
 'Collecting crayfish': 1,
 'M.V. Tropical sank. Sole survivor rode oil drums for 8 days without food or water.': 1,
 'Competing in spearfishing championship & towing dead fish': 1,
 'Swimming between  anchored  pearling luggers': 1,
 'Setting crayfish pots': 1,
 'Spearfishing, shark grabbed his white t-shirt and towed him': 1,
 'Cleaning a tank': 1,
 'Free diving for sinkers': 1,
 'Spearfishing, free diving, possibly ascended into path of cruising shark': 1,
 'Torpedoed & burning British  light cruiser with a crew of 450 men': 1,
 'Attempting to ride a shark': 1,
 "Swimming near jetty with 2' piece of wood": 1,
 'Fell overboard from SS Ripley Castle': 1,
 'Bathing in waist-deep water': 1,
 "Diving, repairing water main at depth of 90'": 1,
 'The Ward liner Esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.': 1,
 'Inebriated, woke from sleep and fell off deck into the water': 1,
 'Removing shark from a net': 1,
 'Fishing, fell in water & swimming strongly to shore': 1,
 'Floating, after falling or jumping off the Standard Oil tanker Frederick W. Weller': 1,
 "Bathing in 5' of water": 1,
 'Had just dived into water & was swimming': 1,
 'Fishing, standing in waist-deep water': 1,
 'Dry shelling': 1,
 'Diving for pearl': 1,
 'After rowing skiff was holed by shark, he was attempting to swim ashore': 1,
 'Dismantling cable buoys of the cable ship All America': 1,
 'seaplane Columbus ditched in the sea': 1,
 "Bathing in 3' to 4' of water": 1,
 'Freediving, inspecting Kaunakakai wharf construction after blasting & dredging': 1,
 'Bathing in knee-deep water': 1,
 "Fell from his father's back into the water": 1,
 'Wading to dinghy, carrying his son': 1,
 'Dived into a school of baitfish': 1,
 'The coastwise steamer San Basilio capsized in a typhoon': 1,
 'Harpooned shark': 1,
 'Boat capsized, swimming to shore': 1,
 'Floating face down': 1,
 'Sitting in a boat': 1,
 'Small vessel with 13 men on board capsized crossing the bar and 6 men drowned.  The 7 survivors were swimming to shore': 1,
 '"Swimming vigorously"': 1,
 'Swimming with dog near canning factory': 1,
 'Jumped out of canoe': 1,
 'British patrol boat 1250-ton HMS  Valerian foundered in a hurricane': 1,
 'Diving by wharf': 1,
 'Swimming a quarter mile offshore': 1,
 'Fell overboard?': 1,
 'Fishing, had just speared a ulua': 1,
 'Gaffing & attempting to bring onboard a harpooned shark': 1,
 'Fishing, boat capsized': 1,
 'Fishing with a cast net': 1,
 'Fishing, hauling in net, shark in net': 1,
 'Thrown into water from fishing dinghy': 1,
 'Swimming / floating': 1,
 'Sponge diving': 1,
 'Diving off pier & treading water': 1,
 'Removing shark from a trap': 1,
 'Fishing schooner Jose Luis foundered': 1,
 'Bathing or body surfing': 1,
 'Attempting to rescue drowning man': 1,
 'Sea Disaster, wreck of the  SS Norwich City': 1,
 'Fell from wharf into water & attacked immediately': 1,
 'Diving for trepang': 1,
 'Swimming between boats': 1,
 'Diving for coins thrown from ship S.S. Moeraki': 1,
 'Sea Disaster, sinking of the  SS Vestris': 1,
 'Standing in waist-deep water': 1,
 'Retrieving meat from a cage in the water': 1,
 'Jumped overboard and swimming': 1,
 'The steamer Tahiti collided with the ferry Greycliffe': 1,
 'Italian liner Principessa Mafalda sank': 1,
 'Riding horseback across the creek': 1,
 'Feeling the shark\x92s teeth': 1,
 'Knocked into the water': 1,
 'Cutter capsized': 1,
 'Wading (shrimping)': 1,
 'Diving, retrieving fish caught in net': 1,
 '1446-ton Norwegian barque Errol, bound from Peru to Newcastle with 22 on board wrecked. Survivors shelterd on the wreck of the Annasona. Subsequently the Master, his wife & 4 children perished along with several crew. Survivors (5) were rescued 7/12/1909': 1,
 'Reported swept away by waves while gathering opihi': 1,
 'Diving (Helmet) for sponges': 1,
 'Wreck of the 1308-ton Norwegian ship Auckland': 1,
 'Jumped overboard': 1,
 'Fell from the jetty': 1,
 'On fishing boat & trailing hand in the water': 1,
 'Fell overboard from P&O steamship Arabia': 1,
 'The 168-ton Belmore foundered in heavy seas': 1,
 'The British steamer Caribbee foundered': 1,
 'native boats sunk in storm': 1,
 'Gathering fish stunned by dynamite': 1,
 'Reached out to disentangle rope & fell overboard': 1,
 'Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net': 1,
 'Fell overboard from fishing schooner Halycon': 1,
 'Row boat (from the gunboat Elcano) was sinking, put finger in hole': 1,
 'Shooting sharks': 1,
 'The schooner Tahitienne foundered in a hurricane': 1,
 'Washing horses': 1,
 'Floating or standing': 1,
 'Human head found in shark caught by British steamer Syria': 1,
 'Jumped or fell overboard': 1,
 'Bathing alongside US Naval ship': 1,
 'Swimming after his hat': 1,
 'Catching crabs': 1,
 'Standing on ship deck': 1,
 'Dangling feet in the water': 1,
 'Hunting seashells': 1,
 'Fell overboard while fishing for sharks': 1,
 'The 2379-ton French steamer La Seyne collied with British steamer Onda & sank in minutes. Passengers jumped overboard expecting to be picked up by Onda\x92s boats': 1,
 'Swimming, towing an empty barrel': 1,
 'Copra vessel with 19 on board was wrecked in a squall': 1,
 'Stuffing a shark into an automobile': 1,
 'Ship Mariston torpedoed & sunk': 1,
 'Swimming beside launch': 1,
 'Diving for pearls': 1,

In [112]:
# Surfing
sharks_attacks7["activity"] = sharks_attacks7["activity"].str.replace(".*?[S|s]urfing.*\w?", "Surfing")
# Swimming
sharks_attacks7["activity"] = sharks_attacks7["activity"].str.replace(".*?[S|s]wimming.*\w?", "Swimming")
# Fishing
sharks_attacks7["activity"] = sharks_attacks7["activity"].str.replace(".*?[F|f]ishing.*\w?", "Fishing")
# Spearfishing
sharks_attacks7["activity"] = sharks_attacks7["activity"].str.replace(".*?[S|s]pearfishing.*\w?", "Spearfishing")
# Wading
sharks_attacks7["activity"] = sharks_attacks7["activity"].str.replace(".*?[W|w]ading.*\w?", "Wading")
# Standing
sharks_attacks7["activity"] = sharks_attacks7["activity"].str.replace(".*?[S|s]anding.*\w?", "Standing")
# Diving
sharks_attacks7["activity"] = sharks_attacks7["activity"].str.replace(".*?[D|d]iving.*\w?", "Diving")
# Snorkeling
sharks_attacks7["activity"] = sharks_attacks7["activity"].str.replace(".*?[S|s]norkeling.*\w?", "Snorkeling")
# Scuba diving
sharks_attacks7["activity"] = sharks_attacks7["activity"].str.replace(".*?[S|s]cuba.*\w?", "Scuba diving")
# Bathing
sharks_attacks7["activity"] = sharks_attacks7["activity"].str.replace(".*?[B|b]athing.*\w?", "Bathing")

In [113]:
shark_count_activity = sharks_attacks7[["activity"]]
shark_count_activity.groupby(["activity"])["activity"].count()
dict(shark_count_activity.activity.value_counts())

{'Surfing': 1087,
 'Fishing': 920,
 'Swimming': 888,
 'Diving': 404,
 'Wading': 149,
 'Snorkeling': 89,
 'Standing': 87,
 'Bathing': 78,
 'Body boarding': 62,
 'Kayaking': 35,
 'Treading water': 29,
 'Boogie boarding': 27,
 'Surf skiing': 18,
 'Walking': 16,
 'Boogie Boarding': 16,
 'Floating': 13,
 'Rowing': 12,
 'Surf-skiing': 10,
 'Canoeing': 10,
 'Sitting on surfboard': 9,
 'Fell overboard': 9,
 'Playing': 8,
 'Paddle boarding': 8,
 'Sea disaster': 7,
 'Stand-Up Paddleboarding': 6,
 'Sailing': 5,
 'Sea Disaster': 5,
 'Splashing': 5,
 'Body-boarding': 4,
 'Tagging sharks': 4,
 'Floating on his back': 4,
 'Jumping': 4,
 'Jumped into the water': 4,
 'Lifesaving drill': 4,
 'Shark watching': 3,
 'Paddling on surfboard': 3,
 'Feeding fish': 3,
 'Crabbing': 3,
 'Seine netting': 3,
 'Spearing fish': 3,
 'Playing in the surf': 3,
 'Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days': 3,
 'Boating': 3,
 'Body Boarding': 3,
 'Competing in the Woodvale Atlantic Rowing Race': 3,
 'Feeding sharks': 3,
 'Floating on a raft': 3,
 'Unknown': 3,
 'SUP': 3,
 'Sculling': 3,
 'Escaping from Alacatraz': 3,
 'Paddleskiing': 3,
 'Boat': 3,
 '.': 3,
 'Shipwreck': 3,
 'Floating in inner tube': 2,
 'Suicide': 2,
 'Cruising': 2,
 'Dived for a coin': 2,
 'Air Disaster': 2,
 '"Flying Tiger" transport plane went down with 5 men onboard': 2,
 'Clamming': 2,
 'Boat swamped': 2,
 'Kite Boarding': 2,
 'Launching rowboat through the surf': 2,
 'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.': 2,
 'Murder': 2,
 'Jet skiing': 2,
 'Air disaster': 2,
 'Paddling': 2,
 'Playing in the water': 2,
 'Transatlantic Rowing': 2,
 'Kiteboarding': 2,
 'HMAS Parramatta torpedoed & sunk by the U-559': 2,
 'Kite boarding': 2,
 'Ocean racing': 2,
 'S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water': 2,
 'Finning the shark that bit him': 2,
 'Teasing a shark': 2,
 'Sitting in the water': 2,
 'The Christie V sank on 11/6/1988, survivors were adrift on a dinghy': 2,
 'Standing in knee-deep water': 2,
 'Cleaning fish': 2,
 'Fell into the water': 2,
 'The 3540-ton Alfonso Penna was torpedoed & sunk by the Italian submarine Barbarigo': 1,
 'Known as The Battle of the Bismarck Sea :  8 Japanese destroyers guarding a convoy of 8 transports were attacked by 129 Allied fighters, 207 bombers & 3 squadrons of the Royal Australian Air Force.': 1,
 'Swept off deck of S.S.Frontenac enroute from West Indies to US': 1,
 'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA': 1,
 'Washed overboard by swell': 1,
 'Paddling a canoe': 1,
 'The USS Wahoo torpedoes & sank the Japanese troop transport Buyo Maru': 1,
 'Fell off surf ski': 1,
 'Dog paddling or standing': 1,
 'Body found on deserted luxury yacht, 38\x92 Christine': 1,
 'U-177 torpedoed & sank the troopship Nova Scotia': 1,
 'cargo ship Southern Isle sank at 04h00': 1,
 'Shipwrecked; adrift on raft for 2 days & 2 nights': 1,
 'Went to aid of child being menaced by the shark': 1,
 'Thrown from destroyer when shell hit': 1,
 'On 6-Nov-1942, the German submarine U-68 sank the City of Cairo 5 days from Cape Town, survivors took to lifeboats & rafts. On the 15th day, a fireman jumped over the stern & was taken by sharks': 1,
 'Paddling a surfboat': 1,
 'ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover': 1,
 'The 21,516-ton troopship Empress of Canada torpedoed and sunk by the Italian submarine Leonardo da Vinci': 1,
 'No details': 1,
 'Parachuted into Pacific': 1,
 'The Cuban freighter Libertad was torpedoed and sunk by the German submarine U-129': 1,
 'The 6711-ton American freighter & troop transport Cape San Juan was torpedoed by the Japanese submarine I-21': 1,
 'Boat exploded': 1,
 'Treading water after survivng crash of the US Navy airship K-74 that was hit by the German submarine U-134': 1,
 'USS Hoel DD 533 sunk on 10/24/1944 in the Battle off Samar. 2 crewmen were swimmng alongside a floater net &': 1,
 'USS Gambier Bay CVE-73  shelled & sunk  at 09h57 on 10/24/1944, by Japanes fleet enroute to attack the Allied landing force at Leyte.': 1,
 'American cruiser Indianapolis torpedoed & sunk by the Japanese submarine I-58': 1,
 'Jumping in swells': 1,
 'Attempting to ride a shark': 1,
 'B-24 crashed during a search mission. Survivors in raft for 47 days': 1,
 'C47 aircraft carrying 5,000 lbs of ice ditched in the sea': 1,
 'Bringing hooked, harpooned shark onboard boat': 1,
 'Leicester abandoned in a hurricane': 1,
 'Air/Sea Disaster involving C-54 Air Force Transport No. 2686 with 37 on board': 1,
 '2 messboys (Jeppsen) & Tony Latona (13) were playing on the afterdeck of the Danish ship Grete Maersk. Jeppsen fell overboard, Latona threw a lifebelt then jumped in to help him. Ship didn\x92t notice they were missing': 1,
 'Treading water, waiting for a wave': 1,
 'Hospital Ship Centaur torpedoed & sunk by the Japanese submarine I-177': 1,
 'Lifesaving exhibition': 1,
 'Examining netted shark, that had been shot': 1,
 'Japanese POW ship Arisan Maru with 1800 American prisoners of war on board bound for slave labor camps was torpedoed by an American submarine': 1,
 'Dived overboard to check propeller of US Navy motor torpedo boat': 1,
 '"Climbing up to ship after repairing the stern in water"': 1,
 'Lying prone on surfboard': 1,
 'Gigging for flounder': 1,
 'Dived overboard to retrieve dinghy': 1,
 'National Airlines DC7B enroute from Miami to Los Angeles with 42 or 46 people on board went down in heavy fog': 1,
 'Trailing the field in a surf race': 1,
 'Standing in chest-deep water': 1,
 'ship M.V. Rizal sank during typhoon': 1,
 'Dived from dinghy to retrieve oar in heavy seas': 1,
 'Standing, watching seine netters': 1,
 'Setting crayfish pots': 1,
 'Portuguese Airliner with 9 people aboard went down.': 1,
 'S2F-1 airplane crashed immediately after carrier take-off': 1,
 'Speared a grouper, saw shark but it came for him instead of the fish so he fired spear into shark\x92s mouth. Then shark took grouper but unable to swallow because of the spear in its mouth.': 1,
 'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion': 1,
 'Pulling raft out to ride to shore': 1,
 'Helping angler land a shark': 1,
 'Holding shark on leader & dangling it above the water': 1,
 'boat with 46 people on board capsized': 1,
 'Aircraft crashed into sea': 1,
 'Air disaster: crash of Air France Super Constellation': 1,
 'R5D aircraft went down with 29 on board': 1,
 'Ejected from F3H-2 aircraft': 1,
 'Fell overboard, prop slashed arm': 1,
 'Pacific Seafarer of US Navy': 1,
 'Collecting aquarium specimens': 1,
 'Collecting crayfish': 1,
 'Cleaning a tank': 1,
 'Cargo ship Dara sank after collision with another ship during a severe storm': 1,
 'Checking fish traps, fell into the water': 1,
 "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore": 1,
 'Pulling hooked salmon to boat': 1,
 'Bitten while cutting shark from net': 1,
 'On inflatable raft': 1,
 'Accidentally dragged overboard from the sampan Holokahana into school of yellowfin tuna': 1,
 'Royal Hawaiian skymaster DC-6B aircraft went down with  58 passenger & crew': 1,
 'Aircaft exploded': 1,
 'Crouching in the water': 1,
 'Grabbed shark & threw it on deck': 1,
 'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas': 1,
 'Crossing the bay at the ford': 1,
 'Hunting lobsters in 2.4 m of water': 1,
 'Hunting turtle': 1,
 'Air/Sea Disaster': 1,
 'Climbing back on ship': 1,
 'M.V. Tropical sank. Sole survivor rode oil drums for 8 days without food or water.': 1,
 'Air/Sea Disaster Pan-American Airlines Stratocruiser with 44 people onboard crashed into the sea': 1,
 'Paddling in knee-deep water': 1,
 'Boat stopped to repair electric pump': 1,
 'His ship, the US destroyer Duncan DD 485, had been  sunk by crossfire from Japanese warships. He was wearing a kapok lifejacket & using 2 aluminum powder tins for floatation': 1,
 'Cleaning hull of ship': 1,
 'Dragging banana seeds through the shallows': 1,
 'In deep water about 100 yards from his ship': 1,
 'Washed overboard into school of fish': 1,
 'Working prawn net': 1,
 'Fell into water while attempting to boat a swordfish': 1,
 'Lifeboat capsized': 1,
 'Columbian petrol barge Rio Atrato burned and sank': 1,
 'Dragging stranded shark ashore': 1,
 'Pulling anchor': 1,
 'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas': 1,
 'Explosion & sinking of the USS Juneau after being torpedoed by the submarine  I-85': 1,
 'Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather': 1,
 'The 6015-ton British ship Empire Avocet was torpedoed by the German submarine U-125.': 1,
 'Fell overboard from steamship Rio Grande': 1,
 'Hauling in net': 1,
 'Washed into sea while picking opihi & attacked by 2 large sharks': 1,
 'Washing clothes': 1,
 'Copra vessel with 19 on board was wrecked in a squall': 1,
 'Clinging to overturned rowing boat': 1,
 'Jumped overboard from Norwegian steamship Venator': 1,
 'S.S. Ramos foundered in a hurricane. Captain & 14 crew in water-logged lifeboats.': 1,
 'Netting shrimp': 1,
 'Taking wife to beach & about 1 m from the shore': 1,
 'Ship Mariston torpedoed & sunk': 1,
 'Stuffing a shark into an automobile': 1,
 'Cutter capsized': 1,
 'Knocked into the water': 1,
 'Sitting in a boat': 1,
 'Floating face down': 1,
 'Harpooned shark': 1,
 'The coastwise steamer San Basilio capsized in a typhoon': 1,
 'Dived into a school of baitfish': 1,
 "Fell from his father's back into the water": 1,
 'seaplane Columbus ditched in the sea': 1,
 'Dismantling cable buoys of the cable ship All America': 1,
 'After rowing skiff was holed by shark, he was attempting to swim ashore': 1,
 'Dry shelling': 1,
 'Floating, after falling or jumping off the Standard Oil tanker Frederick W. Weller': 1,
 'Removing shark from a net': 1,
 'Inebriated, woke from sleep and fell off deck into the water': 1,
 'The Ward liner Esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.': 1,
 'Washed overboard': 1,
 'Jumped overboard to rescue companion': 1,
 'Jumped out of canoe': 1,
 '3-masted steel barque Glenbank foundered during a cyclone': 1,
 'Hunting seashells': 1,
 'Dangling feet in the water': 1,
 'Standing on ship deck': 1,
 'Catching crabs': 1,
 'Jumped or fell overboard': 1,
 'Human head found in shark caught by British steamer Syria': 1,
 'Floating or standing': 1,
 'Washing horses': 1,
 'The schooner Tahitienne foundered in a hurricane': 1,
 'Shooting sharks': 1,
 'Row boat (from the gunboat Elcano) was sinking, put finger in hole': 1,
 'Reached out to disentangle rope & fell overboard': 1,
 'Gathering fish stunned by dynamite': 1,
 'native boats sunk in storm': 1,
 'The British steamer Caribbee foundered': 1,
 'The 168-ton Belmore foundered in heavy seas': 1,
 'Fell overboard from P&O steamship Arabia': 1,
 'Fell from the jetty': 1,
 'Jumped overboard': 1,
 'Wreck of the 1308-ton Norwegian ship Auckland': 1,
 'Reported swept away by waves while gathering opihi': 1,
 '1446-ton Norwegian barque Errol, bound from Peru to Newcastle with 22 on board wrecked. Survivors shelterd on the wreck of the Annasona. Subsequently the Master, his wife & 4 children perished along with several crew. Survivors (5) were rescued 7/12/1909': 1,
 'The 2379-ton French steamer La Seyne collied with British steamer Onda & sank in minutes. Passengers jumped overboard expecting to be picked up by Onda\x92s boats': 1,
 'Fell overboard from USS cruiser Tacoma': 1,
 'Unknown, their unoccupied yawlboat was recovered': 1,
 'Steamer Durao struck rock & filled, boats capsized, passengers & crew tried to swim to shore': 1,
 'Shipwrecked pearling schooner': 1,
 'Fell overboard from SS Ripley Castle': 1,
 'British patrol boat 1250-ton HMS  Valerian foundered in a hurricane': 1,
 'Adrift on life raft': 1,
 'Swept overboard': 1,
 "Holding shark's tail": 1,
 "12 of the Penang's crew were returning to the ship when their 12' dinghy capsized": 1,
 'Pleasure boating': 1,
 'Two canoes with 14 aboard blown to sea in a storm. While adrift for 3 week, one person fell overboard and was killed by a shark': 1,
 'Collecting dynamited fish': 1,
 'Watching seine netters with friends, one of whom picked up a netted shark': 1,
 'Canoe capsized by shark': 1,
 'The schooner Elizabeth, bound from Bluefields, Nicaragua to the river port of San Carlos foundered': 1,
 'Scooping prawns': 1,
 'Washed off freighter Huncliff by a freak wave': 1,
 'Japanese freighter Bokuyo Maru burned & sank': 1,
 'Dived into the water': 1,
 'Collecting fish in military trap when bitten by captured shark that had been shot by soldiers with Garten': 1,
 'Standing on sandbank': 1,
 'Rescuing seaman after ship sunk by German raider': 1,
 'The troopship Britannia was sunk by the German raider Thor': 1,
 'SS Ethel Skakel foundered in Central America Hurricane of 1941': 1,
 'German raider Kormoran was sunk in an engagement with HMAS Sydney': 1,
 'British cruiser Dunedin torpedoed & sunk by the U-124': 1,
 'Torpedoed & burning British  light cruiser with a crew of 450 men': 1,
 'Esso Bolivar was torpedoed & shelled by the German submarine U-126': 1,
 'H.M.S. Cornwall & H.M.S.Dorsetshire sunk by Japanese dive bombers. Officers & men in the water formed a circle with 60 of their dead in the center for 36 hours': 1,
 'Plane crashed in water, men in life raft': 1,
 'boat capsized during filming': 1,
 'A 210-ton brig was sunk by a Japanese submarine. Some of the survivors were machine-gunned & some were taken by sharks': 1,
 'The SS Potlach was torpedoed & sunk by the U-153 on 27-Jun-1942.': 1,
 'Japanese aircraft shot down. He was one of two survivors rescued by the U.S. destroyer Mugford': 1,
 'Wreck of a sampam': 1,
 'Among 31 survivors of crew from the sampan Fukulya Maru (which reached Thursday Island in rowing boat) was a man whose arm had been bitten off by shark. The sampan wrecked west of McArthur island': 1,
 'Attempting to rescue drowning man': 1,
 'Touching the mouth of a supposedly dead shark': 1,
 'Feeling the shark\x92s teeth': 1,
 'Riding horseback across the creek': 1,
 'Italian liner Principessa Mafalda sank': 1,
 'The steamer Tahiti collided with the ferry Greycliffe': 1,
 'Retrieving meat from a cage in the water': 1,
 'Standing in waist-deep water': 1,
 'Sea Disaster, sinking of the  SS Vestris': 1,
 'Fell from wharf into water & attacked immediately': 1,
 'Sea Disaster, wreck of the  SS Norwich City': 1,
 'Removing shark from a trap': 1,
 'Gaffing & attempting to bring onboard a harpooned shark': 1,
 'Fell overboard?': 1,
 'Working near fish traps': 1,
 'On expedition filming a feature movie & standing on tripod': 1,
 'Catching a turtle': 1,
 'Hurricane & Tidal Wave': 1,
 'Standing on his hands': 1,
 'Yacht of Michael Howell capsized': 1,
 "Sitting in 3' of water": 1,
 'Splashing in water': 1,
 'Dived into sea from launch & bitten immediately': 1,
 'Taken as he dived into the water': 1,
 'Hauling in net with shark in it': 1,
 'Put foot inside mouth of supposedly dead shark': 1,
 'Disappeared 11 days earlier, probable homicide victim': 1,
 'Put foot inside a landed & supposedly dead shark': 1,
 'Fell overboard, hanging onto lifebuoy': 1,
 'Walking in chest-deep water': 1,
 'Paddling rescue ski': 1,
 'Attaching a line at sea': 1,
 'Adrift in a life jacket': 1,
 'Canoe with 3 men onboard sank': 1,
 'Feeding prawns to captive sharks': 1,
 'Air Disaster - Piper aircraft crashed into the sea, killing all on board': 1,
 'Attempting to illegally enter the USA': 1,
 'Conducting research': 1,
 'Fell onto dead shark': 1,
 'Shipwrecked': 1,
 'Attempting to catch a crocodile': 1,
 'Batin': 1,
 'Standing alongside surfboard': 1,
 'Hiking on the beach': 1,
 'Fell off banana boat': 1,
 'Walking in shallows': 1,
 'Kite-Boarding': 1,
 'Collecting beche-de-mer': 1,
 'Playing in the surf with his 2 dogs': 1,
 'Attempting to retreive a dinghy': 1,
 'Petting captive sharks': 1,
 'Killing  sharks': 1,
 'Walking, carrying surfboard & stepped on shark': 1,
 'Standing, stepped on shark': 1,
 'Air disaster. Flash Airlines Boeing 737 crashed into the Red Sea': 1,
 'Chumming for white sharks': 1,
 'Scurfing (surfboard being  towed behind a boat)': 1,
 'Swept out to sea by the tsunami, she clung  to a log for 24 hours': 1,
 'Attempting to drive shark away from sailing regatta': 1,
 "Crouching in 2' of water": 1,
 "Lying prone in 2' of water": 1,
 "Scientific research (Dr. Sonny Gruber's student)": 1,
 'Survived US Naval aircraft crash, climbing onboard rescue vessel when he fell back into sea': 1,
 'Paddle Skiing': 1,
 'Resting on surfboard': 1,
 'Preparing to fish for jack-mackerel': 1,
 'Lying on surfboard': 1,
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish': 1,
 '': 1,
 'Paddling on surfboard or body board': 1,
 'Riding floatation device': 1,
 'Watching the shark feeding on a dead pinniped': 1,
 'Removing shark from tank in nightclub': 1,
 'Jumped off rocks into white water': 1,
 'Adrift on refugee raft': 1,
 'Commercial diver (submerged or treading water)': 1,
 'Murder victim': 1,
 'Sleeping in anchored boat': 1,
 'Playing / jumping': 1,
 '"Riding waves on a board"': 1,
 'On a float': 1,
 'Playing / standing': 1,
 'Fell off aircraft carrier': 1,
 'Chumming for sharks': 1,
 'Boeing 757 enroute from Porta Plata plunged into the sea': 1,
 'Dived naked into the water on a bet': 1,
 'Watching seals': 1,
 'Floating on raft': 1,
 'Towing rubber dinghy': 1,
 'Moving a shark in a net': 1,
 'Inflatable boat': 1,
 'Holding onto an inflatable boat': 1,
 'Boogie boarding, kicked at object in the water': 1,
 'Removing shark from net': 1,
 'Touching sharks': 1,
 'Dragging stranded shark into deeper water': 1,
 'Walking in surf': 1,
 'Attempting to free the shark': 1,
 'Wrangling a shark': 1,
 'Casting a net': 1,
 'Kneeling in the water': 1,
 'Petting a shark': 1,
 'Standing in inner tube': 1,
 'Filming': 1,
 'Hand feeding sharks': 1,
 'Photographing the shark': 1,
 'Attempting to rescue a shark': 1,
 'Photographing fish': 1,
 'Feeding stingrays?': 1,
 'Floating in tube': 1,
 'Lobstering': 1,
 'SUP Foil boarding': 1,
 'Surfng': 1,
 'Grabbing shark for a selfie': 1,
 'Washing hands': 1,
 'Kakaying': 1,
 'Photo shoot': 1,
 'Attempting to lasso a shark': 1,
 'Touching a shark': 1,
 'Skimboarding': 1,
 '2 boats capsized': 1,
 'Paddle-skiing': 1,
 'Bodyboarding': 1,
 'Attempting to rescue an injured & beached shark': 1,
 'Attempting to Kite surf from Egypt to Saudi Arabia': 1,
 'Yacht race': 1,
 'Playing soccer in the water': 1,
 'Shrimping': 1,
 'Playing on a sandbar': 1,
 'Reviving a sedated shark': 1,
 'Removing hook from shark': 1,
 'Surf paddling': 1,
 'Floating near boat & observing bioluminesce': 1,
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas': 1,
 'Removing fish from a trap': 1,
 'Attempting to chase shark out to sea': 1,
 "Accidentally stood on hooked shark's tail before attempting to gut it": 1,
 'Sinking of the cargo ship Mark Jason': 1,
 'Crawling': 1,
 'Jumping in the waves': 1,
 'Washing his feet': 1,
 'Paddle-boarding': 1,
 'Paddling on kneeboard': 1,
 'Measuring sharks': 1,
 'Rescuing': 1,
 'Attempting to fix motor': 1,
 'Wakeboarding': 1,
 'Standing, holding shark pup': 1,
 'Washing sand off a speared fish': 1,
 'Standing or boogie boardin': 1,
 'Kayaking or Wave skiing': 1,
 'Standing, collecting sea stars': 1,
 'Lying on surfboard & paddling': 1,
 'Board sailing': 1,
 'Observing a shark feeding on a carcass of a humpback whale': 1,
 'Playing with a frisbee in the shallows': 1,
 'Filming underwater, carrying powerhead': 1,

In [114]:
top_activities = ["Surfing","Fishing","Swimming", "Spearfishing","Wading","Standing","Diving","Snorkeling", "Scuba diving","Bathing"]

In [115]:
sharks_attacks7.loc[~sharks_attacks7["activity"].isin(top_activities ) & sharks_attacks7["activity"].notnull(), "activity"] = "Other"

#### For all the nan values with change its value to "Unknown

In [116]:
sharks_attacks7.fillna(value={"activity": "Unknown"}, inplace=True)

In [117]:
sharks_attacks7[sharks_attacks6["activity"].isnull()]

Empty DataFrame
Columns: [case_number, date, year, type, country, area, location, activity, name, sex, age, injury, fatal_(y/n), time, species, new_date, month_year]
Index: []

In [118]:
# Cast types to save memory.
sharks_attacks7["activity"] = sharks_attacks6["activity"].astype("category")

In [119]:
sharks_attacks7["activity"].unique()

['Other', 'Standing', 'Surfing', 'Diving', 'Swimming', 'Fishing', 'Wading', 'Snorkeling', 'Unknown', 'Bathing']
Categories (10, object): ['Bathing', 'Diving', 'Fishing', 'Other', ..., 'Surfing', 'Swimming', 'Unknown', 'Wading']

In [120]:
shark_count_activity = sharks_attacks7[["activity"]]
shark_count_activity.groupby(["activity"])["activity"].count()
dict(shark_count_activity.activity.value_counts())

{'Surfing': 1087,
 'Other': 928,
 'Fishing': 920,
 'Swimming': 888,
 'Diving': 404,
 'Unknown': 337,
 'Wading': 149,
 'Snorkeling': 89,
 'Standing': 87,
 'Bathing': 78}

In [121]:
sharks_attacks7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4967 entries, 0 to 5561
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  4967 non-null   object
 1   date         4967 non-null   object
 2   year         4967 non-null   int64
 3   type         4967 non-null   category
 4   country      4954 non-null   object
 5   area         4733 non-null   object
 6   location     4697 non-null   object
 7   activity     4967 non-null   category
 8   name         4839 non-null   object
 9   sex          4967 non-null   category
 10  age          3169 non-null   float64
 11  injury       4953 non-null   object
 12  fatal_(y/n)  4967 non-null   category
 13  time         2779 non-null   object
 14  species      4967 non-null   category
 15  new_date     4967 non-null   datetime64[ns]
 16  month_year   4967 non-null   period[M]
dtypes: category(5), datetime64[ns](1), float64(1), int64(1), object(8), period[M](1)
memory usage: 530.3+ KB

## 4.10 Column country

#### Checking how many register we have of each category

In [122]:
sharks_attacks7.country.unique()

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'PUERTO RICO', 'ITALY',
       'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'FIJI', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA',
       'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)',
       'AZORES', 'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR',
       'PANAMA', 'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY',
       'YEMEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'VANUATU', 'HONDURAS', 'VENEZUELA',
       'SRI LANKA', 'URUGUAY', 'INDIA', 'MICRONESIA', 'OKINAWA',
       'TANZANIA', 'MARSHALL ISLANDS', 'EGYPT / ISRAEL',
       'NORTHERN ARABIAN SEA', 'HONG KONG', 'EL SALVADOR',
       'CARIBBEAN SEA', 'BERMUDA', 'NAMIBIA', 'SOUTH CHINA SEA',
       'WESTERN SAMOA', 'PACIFIC OCEAN', 'BRITISH ISLES', 'PALAU',
       'GRENADA', 'TURKEY', 'SINGAPORE', 'NEW BRITAIN', 'SUDAN',
       'JOHNSTON ISLAND', 'NEW GUINEA', 'NORTH PACIFIC OCEAN',
       'FEDERATED STATES OF MICRONESIA', 'ADMIRALTY ISLANDS',
       'BRITISH WEST INDIES', 'SOUTH ATLANTIC OCEAN',
       'MID ATLANTIC OCEAN', 'PERSIAN GULF', 'SENEGAL', 'NORTH SEA',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON',
       'PORTUGAL', 'MONTENEGRO', 'THE BALKANS', 'ARGENTINA', 'GUATEMALA',
       'NETHERLANDS ANTILLES', 'NORTH ATLANTIC OCEAN', 'IRAN',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'SIERRA LEONE',
       'CENTRAL PACIFIC', 'INDIAN OCEAN', 'SOLOMON ISLANDS / VANUATU',
       'SOUTHWEST PACIFIC OCEAN', 'BAY OF BENGAL', 'NICARAGUA', 'IRAQ',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'GUYANA', 'HAITI',
       'IRELAND', 'KUWAIT', 'TUNISIA', 'CYPRUS'], dtype=object)

In [123]:
# Checkpoint
sharks_attacks_final = sharks_attacks7

In [124]:
sharks_attacks_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4967 entries, 0 to 5561
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  4967 non-null   object
 1   date         4967 non-null   object
 2   year         4967 non-null   int64
 3   type         4967 non-null   category
 4   country      4954 non-null   object
 5   area         4733 non-null   object
 6   location     4697 non-null   object
 7   activity     4967 non-null   category
 8   name         4839 non-null   object
 9   sex          4967 non-null   category
 10  age          3169 non-null   float64
 11  injury       4953 non-null   object
 12  fatal_(y/n)  4967 non-null   category
 13  time         2779 non-null   object
 14  species      4967 non-null   category
 15  new_date     4967 non-null   datetime64[ns]
 16  month_year   4967 non-null   period[M]
dtypes: category(5), datetime64[ns](1), float64(1), int64(1), object(8), period[M](1)
memory usage: 530.3+ KB

## 5. Export dataframes into csv

In [125]:
sharks_attacks_final.to_csv('sharks_attacks_final.csv', sep =',',index = False)